body {
  color: $clr-app-font-color-primary;
}

.header-hamburger-trigger,
.header-overflow-trigger {
  & > span,
  & > span::before,
  & > span::after {
    background: $clr-black;
  }
}

.open-hamburger-menu .header-hamburger-trigger,
.open-overflow-menu .header-overflow-trigger {
  & > span,
  & > span::before,
  & > span::after {
    background: $clr-white;
  }
}

.header .header-nav .nav-link.active {
  background: $clr-global-selection-color;
}

header,
.header {
  .header-actions {
    > .dropdown > .nav-icon {
      color: $blue-darkest;
    }
    .nav-icon {
      color: $blue-darkest;
    }
  }
  .settings .nav-icon {
    color: $blue-darkest;
  }
}

.btn {
  border-color: $clr-gray;
}

.datagrid .datagrid-column {
  .datagrid-filter-toggle {
    &:hover {
      background-image: generateFilterIcon($turquoise);
    }

    &.datagrid-filter-open {
      background-image: generateFilterIcon($turquoise);
    }

    &.datagrid-filtered {
      background-image: generateFilterIcon($turquoise), generateCircleIcon($turquoise);
    }
  }

  &.asc {
    .datagrid-column-flex::after {
      background-image: generateUpArrowIcon($turquoise);
    }
  }
  &.desc {
    .datagrid-column-flex::after {
      background-image: generateDownArrowIcon($turquoise);
    }
  }
}

.pagination-list {
  .pagination-current {
    border-bottom-color: $turquoise;
  }
}

.datagrid-foot .column-switch-wrapper {
  &.active {
    .column-toggle--action {
      color: $turquoise;
    }
  }
  .column-toggle--action {
    &:hover {
      color: $turquoise;
    }
  }
}

.spinner.spinner-inverse {
  background: generateSpinnerIcon($clr-white, $clr-spinner-color);
}

clr-tooltip clr-icon {
  color: $turquoise;
}

.alert-app-level.alert-success {
  background: $green;
}

.alert {
  &.alert-danger,
  &.alert-success {
    .alert-action,
    button.dropdown-toggle:not(.btn) {
      color: $clr-white;
    }

    .close clr-icon {
      fill: $clr-white;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'VW Head';
}
