@mixin alertIcons($alertLevel, $color) {
  .alert.alert-#{$alertLevel} {
    .btn-link.btn-icon,
    .close {
      clr-icon {
        background-color: $clr-white !important;
        fill: $color !important;
        border-radius: 50px;
        padding: 1px;
      }
    }
  }
}

body {
  color: $clr-app-font-color-primary;
}

.header-hamburger-trigger,
.header-overflow-trigger {
  & > span,
  & > span::before,
  & > span::after {
    background: $clr-black;
  }
}

.open-hamburger-menu .header-hamburger-trigger,
.open-overflow-menu .header-overflow-trigger {
  & > span,
  & > span::before,
  & > span::after {
    background: $clr-white;
  }
}

.header .header-nav .nav-link.active {
  background: $turquoise-light;
}

.clr-vertical-nav {
  .nav-divider {
    border-color: $clr-border-color;
  }

  .nav-trigger + .nav-content {
    border-top-color: $clr-border-color;
  }
}

.btn {
  border-width: 0;
}

.btn-group {
  .btn:not(:last-child) {
    margin-right: $clr-default-borderwidth;
  }

  .btn.disabled {
    opacity: 0.4;
  }
}

.card {
  &.clickable:hover {
    box-shadow: 0 0.125rem 0 0 $clr-card-active-border-color;
    border-color: $clr-card-active-border-color;
  }
}

.datagrid .datagrid-column {
  .datagrid-filter-toggle {
    &:hover {
      background-image: generateFilterIcon($turquoise);
    }

    &.datagrid-filter-open {
      background-image: generateFilterIcon($turquoise);
    }

    &.datagrid-filtered {
      background-image: generateFilterIcon($turquoise), generateCircleIcon($turquoise);
    }
  }

  &.asc {
    .datagrid-column-flex::after {
      background-image: generateUpArrowIcon($turquoise);
    }
  }
  &.desc {
    .datagrid-column-flex::after {
      background-image: generateDownArrowIcon($turquoise);
    }
  }
}

.pagination-list {
  .pagination-current {
    border-bottom-color: $turquoise;
  }
}

.datagrid-foot .column-switch-wrapper {
  &.active {
    .column-toggle--action {
      color: $turquoise;
    }
  }
  .column-toggle--action {
    &:hover {
      color: $turquoise;
    }
  }
}

.spinner.spinner-inverse {
  background: generateSpinnerIcon($clr-white, $clr-spinner-color);
}

clr-tooltip clr-icon {
  color: $turquoise;
}

// Use !important because the clr-icons.css is higher priority otherwise
clr-icon {
  &.is-green,
  &.is-success {
    fill: $clr-icon-color-success !important;
  }
  &.is-danger {
    fill: $clr-icon-color-danger !important;
  }
  &.is-red,
  &.is-error {
    fill: $clr-icon-color-error !important;
  }
  &.is-warning {
    fill: $clr-icon-color-warning !important;
  }
  &.is-blue,
  &.is-info {
    fill: $clr-icon-color-info !important;
  }
  &.is-highlight {
    fill: $clr-icon-color-highlight !important;
  }
}

$clickable-icon-selector: 'clr-icon:not(.is-green):not(.is-success):not(.is-danger):not(.is-red):not(.is-error):not(.is-warning):not(.is-blue):not(.is-info):not(.is-highlight)';

:not(.alert) {
  > .btn-link.btn-icon,
  > .close {
    overflow: visible;

    > #{$clickable-icon-selector} {
      background-color: $clr-btn-primary-bg-color;
      fill: $clr-white;
      border-radius: 50px;

      &:not(.ves-edit-icon) {
        padding: 1px;
      }
      &.ves-edit-icon {
        padding: 3px;
      }
    }
  }
}

.btn-link.btn-icon:hover,
.close:hover {
  > #{$clickable-icon-selector} {
    background-color: $clr-btn-primary-hover-bg-color;
  }
}

@include alertIcons('info', $clr-app-alert-info-bg-color);
@include alertIcons('success', $clr-app-alert-success-bg-color);
@include alertIcons('warning', $clr-app-alert-warning-bg-color);
@include alertIcons('danger', $clr-app-alert-danger-bg-color);

.stack-view .stack-block-expandable > .stack-block-label::before {
  background-image: generateCaretIcon($clr-app-font-color-primary);
}

.alert-app-level.alert-success {
  background: $green;
}

.alert {
  &.alert-danger,
  &.alert-success {
    .alert-action,
    button.dropdown-toggle:not(.btn) {
      color: $clr-white;
    }

    .close clr-icon {
      fill: $clr-white;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'VW Head';
}

.checkbox.btn input[type='checkbox']:checked,
.radio.btn input[type='radio']:checked {
  + label {
    background-color: $turquoise;
    color: $clr-white;
  }
}

// Bootstrap text color overrides
.text-primary {
  color: $clr-text-color-primary !important;
}

.text-success {
  color: $clr-text-color-success !important;
}

.text-info {
  color: $clr-text-color-info !important;
}

.text-warning {
  color: $clr-text-color-warning !important;
}

.text-danger {
  color: $clr-text-color-danger !important;
}

.label {
  background-color: $clr-label-gray-bg-color;

  &.label-purple {
    background-color: $clr-label-purple-bg-color;
  }

  &.label-blue {
    background-color: $clr-label-blue-bg-color;
  }

  &.label-orange {
    background-color: $clr-label-orange-bg-color;
  }

  &.label-light-blue {
    background-color: $clr-label-light-blue-bg-color;
  }
}

button:focus,
.tooltip:focus > :first-child,
.tooltip > :first-child:focus {
  outline: none;
}
