$turquoise-lightest: #daf0f9;
$turquoise-lighterer: #cceffb;
$turquoise-light: #48c5ef;
$turquoise: #00b1eb;

$blue-sky-light: #f1fbfe;
$blue-lightest: #f3f5f6;
$blue-light: #ebf9fd;
$blue-mid-light: #c9dde3;
$blue-darkest: #0068aa;

$gray: #979ea3;
$gray-darker: #74797d;
$gray-dark: #808890;

$black-light: #2f3538;
$black-lighter: #1d1f20;

$green-lightest: #e8f2e9;
$green: #51ae30;
$green-darker: #469429;
$green-darkest: #266900;

$red-lighter: #f7eae7;
$red-light: #ffdddb;
$red-darker: #c82f2d;
$red-darkest: #ad2828;

$yellow-light: #efd603;

$orange-dark: #faaa00;
