<section class="icons-header">
  <div class="icons-background">
    <div class="icon-bg-wrapper" *ngFor="let shape of backgroundIcons">
      <clr-icon [attr.shape]="shape" size="24"></clr-icon>
    </div>
  </div>

  <div class="icons-header-wrapper">
    <h1>Clarity Addons Icons</h1>
    <p class="icons-header-message">Over 70 additional beautiful and easy to use SVG icons</p>
    <div>
      <a [routerLink]="['get-started']" class="btn btn-primary">GET STARTED</a>
      <a [routerLink]="['icon-sets']" class="btn btn-primary">SEE ICON SETS</a>
    </div>
  </div>
</section>

<div class="icons-content">
  <div class="content-container">
    <nav class="sidenav icons-sidenav" [clr-nav-level]="2">
      <section class="sidenav-content">
        <section class="nav-group">
          <input id="overview" type="checkbox" />
          <label for="overview">Overview</label>
          <ul class="nav-list">
            <li><a [routerLink]="['./get-started']" routerLinkActive="active" class="nav-link">Get Started</a></li>
          </ul>
        </section>
        <section class="nav-group">
          <input id="iconsets" type="checkbox" />
          <label for="iconsets">Icon Sets</label>
          <ul class="nav-list">
            <li><a [routerLink]="['./icon-sets']" routerLinkActive="active" class="nav-link">All</a></li>
          </ul>
        </section>
      </section>
    </nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
