<div
  class="tooltip-container"
  data-testid="chart-tooltip"
  [class.orientation-bottom]="tooltipOrientation() === 'bottom'"
  (click)="$event.stopPropagation()"
  [style.left.px]="tooltipPosition().x"
  [style.top.px]="tooltipPosition().y"
>
  <div class="tooltip-header" data-testid="chart-tooltip-header">
    <div class="color-label-wrapper">
      @if (squareColor()) {
      <div class="color-square" [style.background-color]="toChartColor(squareColor())"></div>
      }
      <h5
        data-testid="chart-tooltip-title"
        [class.has-more-info]="tooltipClickable()"
        (click)="$event.stopPropagation(); tooltipClickable() && tooltipHeaderClicked.emit()"
      >
        <ng-content select="cng-title" />
      </h5>
    </div>
    <cds-icon
      shape="times"
      class="tooltip-close-btn"
      data-testid="chart-tooltip-close"
      (click)="$event.stopPropagation(); tooltipClosed.emit()"
    />
  </div>
  <div class="tooltip-content" data-testid="chart-tooltip-content">
    <ng-content />
  </div>
  <hr />
  <div class="tooltip-footer" data-testid="chart-tooltip-footer"><ng-content select="cng-footer" /></div>
</div>
