@use 'sass:map';
@use '../mixins';
@use '../components.variables.clr-addons' as variables;

$base-cell-indentation: 2rem;
$base-caret-indentation: 0.1rem;
$indentation-increment: 1rem;

@mixin row-indentation($level) {
  .treetable-scrolling-cells {
    .treetable-cell:first-of-type {
      padding-left: $base-cell-indentation + $level * $indentation-increment;
    }

    .treetable-expandable-caret {
      @if ($level > 0) {
        margin-left: $level * $indentation-increment;
      } @else {
        margin-left: $base-caret-indentation;
      }
    }
  }
}

@mixin row-indentation-recursive($level, $max-level) {
  @if $level <= $max-level {
    @include row-indentation($level);

    .treetable-row-wrapper {
      @include row-indentation-recursive($level + 1, $max-level);
    }
  }
}

@mixin basic-table($table, $thead, $tbody, $tr, $th, $td) {
  #{$table} {
    border-collapse: separate;
    border-style: solid;
    border-width: var(--clr-table-borderwidth);
    border-color: var(--clr-table-border-color);
    border-radius: var(--clr-table-border-radius);
    background-color: var(--clr-table-bgcolor);
    color: var(--clr-table-font-color);
    margin: 0;
    margin-top: 0.5rem;
    max-width: 100%;
    width: 100%;

    #{$th},
    #{$td} {
      font-size: 0.65rem;
      line-height: 0.7rem;
      border-top-style: solid;
      border-top-width: var(--clr-table-borderwidth);
      border-top-color: var(--clr-tablerow-bordercolor);
      padding: 0.55rem 0.6rem;
      text-align: center;
      vertical-align: top;
    }

    #{$th} {
      color: var(--clr-thead-color);
      font-size: 0.55rem;
      font-weight: 600;
      letter-spacing: 0.03rem;
      background-color: var(--clr-thead-bgcolor);
      vertical-align: bottom;
      border-bottom-style: solid;
      border-bottom-width: var(--clr-table-borderwidth);
      border-bottom-color: var(--clr-table-border-color);
      border-top: 0 none;
    }

    #{$tbody} #{$tr}:first-child #{$td} {
      border-top: 0 none;
    }

    // in the rare event we have more than one tbody element.
    #{$tbody} + #{$tbody} {
      border-top-style: solid;
      border-top-width: var(--clr-table-borderwidth);
      border-top-color: var(--clr-table-border-color);
    }

    // Rounded corners on tables are a pain...
    #{$thead} #{$th} {
      &:first-child {
        border-radius: 0;
        border-top-left-radius: var(--clr-table-cornercellradius);
      }

      &:last-child {
        border-radius: 0;
        border-top-right-radius: var(--clr-table-cornercellradius);
      }
    }

    #{$tbody}:last-child {
      #{$tr}:last-child {
        #{$td} {
          &:first-child {
            border-radius: 0;
            border-bottom-left-radius: var(--clr-table-cornercellradius);
          }

          &:last-child {
            border-radius: 0;
            border-bottom-right-radius: var(--clr-table-cornercellradius);
          }
        }
      }
    }
  }
}

@mixin clr-button-no-styles {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;

  @at-root button#{&} {
    cursor: pointer;
  }
}

@mixin clr-treetable-popover {
  background: var(--cds-alias-object-container-background);
  border-color: var(--cds-alias-object-border-color);
  color: var(--cds-alias-typography-color-400);
  box-shadow: var(--cds-alias-object-shadow-100);
}

@include mixins.exports('treetable.clr-addons') {
  @include basic-table(
    '.treetable',
    '.treetable-header',
    '.treetable-body',
    '.treetable-row',
    '.treetable-column',
    '.treetable-cell'
  );

  .treetable-host {
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    .treetable-header,
    .treetable-body,
    .treetable-row,
    .treetable-column,
    .treetable-cell {
      display: block;
    }

    .clr-row-clickable {
      cursor: pointer;
    }

    .treetable {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      overflow: auto;
      flex: 1 1 auto;
      margin-top: 0.5rem;

      .treetable-grid {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        align-content: flex-start;
        min-height: 3rem; // Includes header and space for a single (non existing) row
        position: relative;
        height: 100%;
        overflow: auto;
      }

      .treetable-action-trigger {
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;
      }

      .treetable-expandable-caret {
        padding: 0.1rem 0.2rem 0.15rem;
        text-align: center;
        position: absolute;
        z-index: map.get(variables.$clr-layers, datagrid-header) - 1;
        overflow: hidden;

        .treetable-expandable-caret-button {
          @include clr-button-no-styles();
          background: none;
          cursor: pointer;
          height: 1.5rem;
          width: 1.5rem;
        }

        .treetable-expandable-caret-icon {
          color: var(--clr-color-neutral-700);

          svg {
            transition: transform 0.2s ease-in-out;
          }
        }
      }

      .treetable-row-selection {
        min-width: 1.9rem;
        max-width: 1.9rem;
        flex: 0 0 1.9rem;
        position: relative;
        display: flex;
        padding: var(--cds-global-space-3) var(--cds-global-space-6);

        &:after {
          content: '';
          width: 0.05rem;
          height: calc(100% - 0.5rem);
          position: absolute;
          right: 0;
          top: 0.25rem;
          background-color: var(--clr-table-border-color, #ccc);
        }
      }

      .treetable-row-actions {
        min-width: 1.9rem;
        max-width: 1.9rem;
        flex: 0 0 1.9rem;
        position: relative;

        &:after {
          content: '';
          width: 0.05rem;
          height: calc(100% - 0.5rem);
          position: absolute;
          right: 0;
          top: 0.25rem;
          background-color: var(--clr-table-border-color, #ccc);
        }
      }

      .treetable-row-scrollable {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 auto;

        :first-child {
          /* Add padding of 1.5 rem to account for the expendable icon in the rows below*/
          padding-left: 1.5rem;
        }

        .treetable-column {
          text-align: left;
          min-width: 4rem;
          line-height: var(--cds-alias-typography-caption-line-height);
          display: flex;
          flex: 1 1 auto;
          vertical-align: top;
          border: none;

          &:last-of-type {
            padding-right: 1rem;
          }

          .treetable-column-title {
            margin: 0;
            padding: 0;
            border: none;
            border-radius: 0;
            box-shadow: none;
            background: none;
            color: var(--clr-table-font-color);
            text-align: left;
            flex: 1 1 auto;
            display: flex;
            width: 100%;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }

            .sort-icon {
              color: var(--cds-alias-object-interaction-color);
              margin-left: auto;
              vertical-align: middle;
              padding: 0;

              &:hover {
                color: var(--cds-alias-object-interaction-color-hover);
              }

              &:active {
                color: var(--cds-alias-object-interaction-color-active);
              }
            }

            .signpost .signpost-action.btn {
              height: inherit;
              line-height: inherit;
            }
          }

          clr-tt-filter {
            display: flex;
            order: 99;
            margin-left: auto;
            align-items: center;
          }

          .treetable-filter-toggle {
            @include clr-button-no-styles();
            cursor: pointer;
            float: right;
            vertical-align: middle;
            height: var(--clr-base-icon-size-s);
            min-height: var(--clr-base-icon-size-s);
            width: var(--clr-base-icon-size-s);
            min-width: var(--clr-base-icon-size-s);
            margin-left: var(--clr-base-horizontal-offset-s);
            background-repeat: no-repeat;
            background-size: contain;

            cds-icon,
            clr-icon {
              color: var(--cds-alias-object-interaction-color);
              padding-left: 0;
            }

            &:hover {
              cds-icon,
              clr-icon {
                color: var(--cds-alias-object-interaction-color-hover);
              }
            }

            &.treetable-filter-open {
              cds-icon,
              clr-icon {
                color: var(--cds-alias-object-interaction-color-active);
              }
            }

            &.treetable-filtered {
              cds-icon,
              clr-icon {
                color: var(--cds-alias-object-interaction-color-selected);
              }
            }
          }

          &.treetable-fixed-width {
            flex: 0 0 auto;
          }

          .treetable-column-flex {
            display: flex;
            flex: 1 1 auto;
          }
        }

        .btn-icon {
          padding-left: var(--cds-global-space-6);

          :first-child {
            padding-left: revert;
          }
        }
      }

      .treetable-header {
        position: sticky;
        top: 0;
        // bug(popover): prevents action-overflow from being on top (first row).
        // Needed to keep select/radio and expand svgs underneath header on scrolling
        z-index: map.get(variables.$clr-layers, datagrid-header);
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 auto;

        &.hide-header {
          visibility: hidden;
          min-height: 0;
          height: 0;
        }
      }

      .treetable-body {
        width: auto;

        .treetable-row:hover {
          background-color: var(--clr-datagrid-row-hover-color);
        }

        .treetable-selected {
          background-color: var(--clr-datagrid-row-selected-background-color);
          color: var(---clr-datagrid-row-selected);

          &:hover {
            background-color: var(--clr-datagrid-row-selected-hover-background-color);
          }
          &.active {
            background-color: var(--clr-datagrid-row-selected-active-background-color);
          }
        }

        .treetable-row-wrapper {
          .clr-tt-node-content.treetable-row {
            border-top: var(--clr-global-borderwidth) solid var(--clr-table-border-color);
            display: flex;
            flex: 1 1 auto;
            flex-flow: row nowrap;
          }

          .treetable-scrolling-cells {
            display: flex;
            flex: 1 1 auto;
            flex-flow: row nowrap;
            overflow: hidden;
            position: relative;

            .treetable-cell {
              text-align: left;
              min-width: 4rem;
              border-color: var(--clr-table-border-color);

              &:last-of-type {
                padding-right: 1rem;
              }
            }
          }

          @include row-indentation-recursive(0, 10);
        }
      }

      .treetable-spinner {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: var(--clr-base-vertical-offset-l);
        height: calc(100% - var(--clr-base-vertical-offset-l));
        background-color: var(--cds-alias-object-container-backdrop-background);
        z-index: map.get(variables.$clr-layers, datagrid-host); // Keeps the spinner above the treetable header.
      }
    }

    &:not(.empty) .treetable-placeholder-container {
      display: none;
    }

    .treetable-placeholder-container {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      border-top: var(--clr-global-borderwidth) solid var(--clr-table-border-color);
    }

    .treetable-placeholder {
      background: var(--clr-table-bgcolor);
      width: 100%;

      &.treetable-empty {
        border-top: 0;
        padding: 0.5rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        font-size: var(--clr-datagrid-placeholder-font-size);
        color: var(--clr-dark-midtone-gray);
      }

      .treetable-placeholder-image {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 0.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: mixins.generateEmptyTreetablePlaceholder();
      }
    }
  }

  .treetable-filter {
    @include clr-treetable-popover;
    margin-top: var(--cds-global-space-3);
    border-width: var(--cds-alias-object-border-width-100);
    border-style: solid;
    padding: var(--clr-base-vertical-offset-xl);
    border-radius: var(--clr-base-border-radius-s);
    font-weight: normal;

    .treetable-filter-close-wrapper {
      text-align: right;

      .close {
        float: none;
        font-size: unset;
      }
    }

    .treetable-numeric-filter-form {
      display: flex;
      gap: var(--clr-base-gap-m);

      input.treetable-numeric-filter-input {
        width: var(--clr-base-layout-space-5xl);
      }
    }

    .clr-form-control {
      margin-top: 0;
    }
  }
}
