// css animation only since angular animation wouldn't be working smoothly with sorting or order changes
// also performance with a large amount of rows is way better

.treetable-children-container {
  opacity: 0;
  will-change: height, opacity;

  &.expanded {
    opacity: 1;
  }

  &.collapsed {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

  &.animate {
    transition: height 0.4s ease, opacity 0.4s ease;
  }
}
