@include exports('searchfield.clr-addons') {
  .search-input-wrapper {
    position: relative;

    .search-input {
      padding-left: 1.4rem;
      padding-right: 1.2rem;
    }

    &.has-value {
      .delete-button {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0.25rem;
        height: 16px;
        line-height: 1rem;
        margin: 0;
        padding: 0;
      }
    }

    .delete-button {
      display: none;
    }

    .search-symbol {
      position: absolute;
      left: 0.25rem;
      top: 0.25rem;
    }
  }
}
