@include exports('flow-bar.clr-addons') {
  .flow-bar {
    display: flex;
    flex: 0 0 auto;

    .flow-bar-dropdown {
      display: none;

      @media screen and (max-width: map-get($clr-grid-breakpoints, sm)) {
        display: block;
      }

      .dropdown-toggle {
        border: none;
        width: 100%;
        padding: 0 1rem;
        max-width: none;
      }

      .dropdown-toggle:active {
        box-shadow: none;
      }
    }

    .flow-bar-wrapper {
      display: flex;
      height: 1.5rem;
      align-items: center;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      @media screen and (max-width: map-get($clr-grid-breakpoints, sm)) {
        display: none;
      }

      .flow-bar-step {
        box-shadow: 0 -0.35rem 0 var(--clr-nav-box-shadow-color) inset;
        display: flex;
        align-items: center;
        overflow: hidden;
        // Set a min width so every step shows at least a little bit of its title
        min-width: 5rem;
        max-width: 10rem;

        cds-icon[shape*='angle'] {
          flex: 0 0 auto;
        }

        &:hover,
        &.active {
          box-shadow: 0 -0.35rem 0 var(--clr-nav-active-box-shadow-color) inset;
          transition: box-shadow 0.2s ease-in;
        }

        &:focus-within {
          box-shadow: 0 -0.35rem 0 var(--clr-nav-active-box-shadow-color) inset;
          transition: box-shadow 0.2s ease-in;
          outline: none;
        }

        .flow-bar-btn {
          border: none;
          padding: 0 1rem;
          color: var(--clr-nav-link-color);
          text-transform: none;
          font-size: 0.7rem;
          font-weight: 400;
          letter-spacing: normal;
          min-width: 0;

          &:hover,
          &.active {
            background-color: transparent;
            color: var(--clr-nav-link-active-color);
          }

          &:focus {
            outline: none;
            color: black;
          }

          &.active {
            font-weight: 700;
          }

          // This moves the box shadow the required distance down to line up with the border
          &.btn {
            margin: 0 0 var(--clr-global-borderwidth) 0;
          }
        }
      }
    }
  }
}
