@import './header.clr-addons';
@import './collapse-expand-section/collapse-expand-section';
@import './main-nav-group/main-nav-group';
@import './paged-search-result-list/paged-search-result-list';
@import './pager/pager';
@import './view-edit-section/view-edit-section';
@import './content-panel/content-panel';
@import './breadcrumb/breadcrumb';
@import './notification/notification';
@import './flow-bar/flow-bar';
@import './back-button/back-button';
@import './treetable/treetable';
@import './progress-spinner/progress-spinner';
@import './numericfield/numericfield';
@import './combobox/combobox.clarity';

html,
body,
.main-container {
  height: 100%;
}

.content-header {
  padding: 0.5rem 0.5rem 0 1rem;
  display: flex;
  flex: 0 0 auto;

  h2 {
    margin-top: 0;
  }

  .command-bar {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: start;

    .dropdown-menu {
      z-index: map-get($clr-layers, sidepanel) - 2;
    }
  }

  // Only show the border if no flow-bar is between content header + content container, otherwise border is displayed by flow-bar
  + .content-container {
    border-top: $clr-global-borderwidth solid $clr-border-color;
  }
}

.content-container {
  // Define the sticky footer css when inside a content-container
  .content-area-footer {
    border-top: $clr-global-borderwidth solid $clr-border-color;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    padding: 0.25rem 1rem;
    background-color: $clr-global-app-background;
    min-height: 2rem;

    // For some reason clarity sets the margin to 0 for dropdown buttons - we want the default btn margin inside the footer
    .dropdown .dropdown-toggle {
      margin-right: 0.5rem;
    }
  }
}

// Add class card-active and make it not clickable even if clickable class is applied
.card {
  .list-group-item.list-group-item-action:hover {
    background-color: $clr-global-selection-color;
    cursor: pointer;
  }

  @mixin card-active-after() {
    content: '';
    width: 0.1667rem;
    position: absolute;
    background: $clr-card-active-border-color;
    top: -1px;
    left: -1px;
    bottom: 0;
    border-top-left-radius: $clr-global-borderradius;
    border-bottom-left-radius: $clr-global-borderradius;
  }

  &.card-active::after {
    @include card-active-after();
  }

  @mixin card-handle-hover() {
    &.selectable:hover::after {
      @include card-active-after();
    }

    &.selectable:hover {
      border: $clr-card-border;
      box-shadow: $clr-card-box-shadow;
      cursor: pointer;
      transform: translateY(-2px);
      transition: border 0.2s ease, transform 0.2s ease;
      z-index: 1;

      &.card-active:hover {
        cursor: default;
        transform: none;
        transition: none;
      }
    }
  }

  // firefox needs this, because the hover in @media (hover: hover) is not supported
  @-moz-document url-prefix() {
    @include card-handle-hover();
  }

  @media (hover: hover) {
    @include card-handle-hover();
  }
}

.main-container.open-hamburger-menu .header .header-nav.clr-nav-level-1 {
  .nav-link .nav-text,
  .nav-list > .nav-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }
}

.datagrid-no-select-all .datagrid-header .datagrid-select .clr-checkbox-wrapper {
  display: none;
}

// Enable highlighting of rows in a table by adding a new class 'highlight'
.table {
  tbody {
    tr {
      &.highlight {
        background-color: $clr-global-selection-color;
      }
    }
  }
}

form .required:after {
  content: '*';
  font-size: 0.58479532rem; // Approximately 14px.
  line-height: 0.5rem;
  color: $clr-red;
  margin-left: 0.25rem;
}
