@import './collapse-expand-section/collapse-expand-section';
@import './main-nav-group/main-nav-group';
@import './paged-search-result-list/paged-search-result-list';
@import './pager/pager';
@import './view-edit-section/view-edit-section';
@import './content-panel/content-panel';
@import './breadcrumb/breadcrumb';
@import './flow-bar/flow-bar';

$clr-card-active-border-color: rgba(0, 148, 210, 1) !default;
$clr-card-active-border-width: 0.25rem !default;

.content-header {
  border-bottom: $clr-global-borderwidth solid $clr-light-midtone-gray;
  padding: 0.5rem 1rem 0.25rem 1rem;
  display: flex;
  flex-shrink: 0;
}

.content-header > h2 {
  margin-top: 0;
}

.command-bar {
  flex: 1 0 auto;
  justify-content: flex-end;

  .dropdown-menu {
    z-index: map-get($clr-layers, sidepanel) - 2;
  }
}

// Add class card-active
.card {
  &.card-active {
    border-left: $clr-card-active-border-width solid $clr-card-active-border-color;

    &.clickable:hover {
      border-left: $clr-card-active-border-width solid $clr-card-active-border-color;
    }
  }
}
