@media screen and (max-width: map-get($clr-grid-breakpoints, lg)) and (min-width: map-get($clr-grid-breakpoints, md)) {
  .main-container {
    .header-hamburger-trigger,
    .header-overflow-trigger {
      display: inline-block;

      border: none;
      background: none;
      cursor: pointer;
      font-size: 1rem;
      height: $clr-header-height;
      width: $clr-header-height;
      padding: 0 0 0.166667rem 0;
      //4px to vertically align the trigger lines. display flex was not working on all browsers.
      text-align: center;
      white-space: nowrap;

      &:focus {
        outline-offset: -0.208333rem; //So that the outline styles aren't hidden because of the browser
      }

      @include header-nav-appearance();
    }

    .header-nav.clr-nav-level-1,
    .subnav.clr-nav-level-1,
    .sub-nav.clr-nav-level-1,
    .sidenav.clr-nav-level-1,
    .clr-vertical-nav.clr-nav-level-1 {
      @include sliding-nav-positioning();
      transform: translateX(-1 * $clr-sliding-panel-width);
      transition: $clr-sliding-panel-animation;
    }

    .header-nav.clr-nav-level-2,
    .subnav.clr-nav-level-2,
    .sub-nav.clr-nav-level-2,
    .sidenav.clr-nav-level-2,
    .clr-vertical-nav.clr-nav-level-2 {
      @include sliding-nav-positioning(0, 0, 0, auto);
      transform: translateX($clr-sliding-panel-width);
      transition: $clr-sliding-panel-animation;
    }

    .subnav.clr-nav-level-1,
    .sub-nav.clr-nav-level-1,
    .subnav.clr-nav-level-2,
    .sub-nav.clr-nav-level-2 {
      .nav,
      aside {
        flex-direction: column;
        align-items: stretch;
      }

      aside {
        justify-content: center;
        width: 100%;
      }

      //Such deep nesting is unfortunately required here because we don't want
      //navs which are not subnav to behave in a similar way.
      // TODO: more specificity in classname is preferable to nesting...
      .nav {
        padding-left: 0;

        .nav-item {
          height: 1.5rem;
          margin-right: 0;
        }

        .nav-link {
          padding: 0 0.5rem 0 1rem;
          width: 100%;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          border-radius: var(--clr-global-borderradius) 0 0 var(--clr-global-borderradius);

          @include vertical-nav-link-colors();

          &:hover,
          &.active {
            box-shadow: none;
          }
        }
      }
    }

    .sidenav.clr-nav-level-1,
    .sidenav.clr-nav-level-2 {
      .nav-link {
        &:hover,
        &.active {
          color: inherit;
          background: var(
            --clr-responsive-nav-hover-bg
          ); // Is the menu that showsup when the viewport is narrow (x-axis)
        }
      }
    }

    .sidenav.clr-nav-level-1,
    .sidenav.clr-nav-level-2,
    .clr-vertical-nav.clr-nav-level-1,
    .clr-vertical-nav.clr-nav-level-2 {
      border-right: none;
    }

    .header-overflow-trigger {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        @include header-section-divider();
        left: 0;
      }
    }

    .header {
      .branding {
        max-width: 10rem;
        min-width: 0;
        overflow: hidden;
      }

      .header-hamburger-trigger + .branding {
        padding-left: 0;

        //TODO: deprecate .clr-icon, .logo
        .clr-icon,
        .logo,
        clr-icon {
          display: none;
        }
      }

      .branding + .header-overflow-trigger,
      .header-nav + .header-overflow-trigger {
        margin-left: auto;
      }
    }

    &.open-hamburger-menu,
    &.open-overflow-menu {
      .header {
        .header-backdrop {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(var(--black), 0.85);
          cursor: pointer;
          z-index: $clr-sliding-panel-backdrop-z-index;
        }

        .header-nav.clr-nav-level-1,
        .header-nav.clr-nav-level-2 {
          .nav-link {
            flex: 0 0 auto;

            .nav-icon,
            .fa {
              display: none;
            }

            .nav-text {
              display: inline-block;
              color: var(--clr-sliding-panel-text-color);
              line-height: 1rem;
              padding: 0.25rem 0 0.25rem 1rem;
              white-space: normal;
              font-weight: normal;
            }

            opacity: 1;

            .nav-icon + .nav-text {
              display: inline-block;
            }

            @include vertical-nav-link-colors();

            &.active > .nav-text {
              color: inherit;
            }
          }
        }
      }

      .clr-vertical-nav .nav-trigger {
        display: none;
      }
    }

    &.open-hamburger-menu {
      .header {
        .branding {
          position: fixed;
          top: 0;
          left: 0;
          overflow: hidden;
          width: $clr-sliding-panel-width;
          max-width: $clr-sliding-panel-width;
          z-index: $clr-sliding-panel-z-index + 1;
          padding-left: 1rem;

          & > .nav-link {
            overflow: hidden;
          }

          //deprecate .clr-icon, .logo
          .clr-icon,
          .logo,
          clr-icon {
            display: inline-block;
          }

          clr-icon[shape='vm-bug'],
          .clr-vmw-logo {
            background-color: $clr-color-neutral-700;
            border-radius: var(--clr-global-borderradius);
          }

          .title {
            color: var(--clr-sliding-panel-text-color);
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }

      .header-hamburger-trigger {
        @include menu-trigger();
        @include hamburger-menu-trigger-animation();
      }

      .header-nav.clr-nav-level-1,
      .subnav.clr-nav-level-1,
      .sub-nav.clr-nav-level-1,
      .sidenav.clr-nav-level-1,
      .clr-vertical-nav.clr-nav-level-1 {
        padding-top: $clr-header-height + 1rem;
        transform: translateX(0);
        transition: $clr-sliding-panel-animation;
        width: $clr-sliding-panel-width;
        max-width: $clr-sliding-panel-width;

        .sidenav-content {
          padding-bottom: 1rem;
        }
      }
    }

    &.open-overflow-menu {
      .header-nav.clr-nav-level-2,
      .subnav.clr-nav-level-2,
      .sub-nav.clr-nav-level-2,
      .sidenav.clr-nav-level-2,
      .clr-vertical-nav.clr-nav-level-2 {
        transform: translateX(0);
        transition: $clr-sliding-panel-animation;
        width: $clr-sliding-panel-width;
        max-width: $clr-sliding-panel-width;
      }

      .header-nav.clr-nav-level-2,
      .subnav.clr-nav-level-2,
      .sub-nav.clr-nav-level-2 {
        padding-top: 1rem;
      }

      .header-overflow-trigger {
        @include menu-trigger(0, auto, (-1 * $clr-trigger-position));
        @include overflow-menu-trigger-animation();
      }
    }
  }
}
