.section {
  margin-top: 0.5rem;
}

.color-example {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;

  .color-example-item {
    width: 3rem;
    height: 2rem;

    background-color: var(--color);
    border-color: var(--color);

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  }
}
