@include exports('content-panel.clr-addons') {
  $clr-content-panel-width: 456px;

  .content-panel-container {
    position: relative;
    display: flex;
    flex: 1 1 auto;
  }

  .content-panel-outer-content {
    padding: 1rem;
  }

  @media screen and (min-width: map-get($grid-breakpoints, xl)) {
    .content-panel-outer-content {
      flex-basis: 100%;
      // The content next to the panel always has order = 2
      order: 2;
    }
  }

  .content-panel {
    // Default position is right so set order = 3 because 3 > 2
    order: 3;

    &.left {
      // If position is set to left set order = 1 because 1 < 2
      order: 1;
    }
  }

  .content-panel-content-wrapper {
    background-color: $clr-global-app-background;
    z-index: map-get($clr-layers, sidepanel) - 2;
    padding: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: calc(100% - var($clr-content-panel-width));
    border-left: $clr-global-borderwidth solid $clr-dropdown-border-color;
    overflow: auto;

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
      width: $clr-content-panel-width;

      &.content-panel-left {
        left: 0;
        border-right: $clr-global-borderwidth solid $clr-dropdown-border-color;
        border-left: none;
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      position: relative;
      height: 100%;
    }

    @media screen and (max-width: map-get($grid-breakpoints, md)) {
      left: 0;
      width: 100%;
      border: none;
    }
  }

  .content-panel-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
  }

  .content-panel-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: clr-getColor(darkest);
    opacity: 0.85;
    z-index: map-get($clr-layers, sidepanel-bg) - 2;

    @media screen and (max-width: map-get($grid-breakpoints, md)) {
      display: none;
    }

    @media screen and (min-width: map-get($grid-breakpoints, xl)) {
      display: none;
    }
  }

  .content-panel-close-btn {
    line-height: 1rem;
  }

  .close .content-panel-close-icon {
    fill: $clr-link-color;
  }

  .close:hover .content-panel-close-icon {
    fill: $clr-link-hover-color;
  }
}
