@include exports('content-panel.clr-addons') {
  :root {
    --clr-content-panel-width: 456px;
  }

  .content-panel-container {
    position: relative;
    overflow: hidden;
  }

  .content-panel-outer-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }

  @media screen and (min-width: map-get($clr-grid-breakpoints, xl)) {
    .content-panel-outer-wrapper {
      order: 1;
    }
  }

  .content-panel {
    // Position content-panel to the right of the main content
    order: 2;
  }

  .content-panel-content-wrapper {
    background-color: var(--clr-global-app-background);
    z-index: map-get($clr-layers, sidepanel-bg) - 1;
    padding: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: var(--clr-global-borderwidth) solid var(--clr-border-color);
    overflow: auto;

    @media screen and (min-width: map-get($clr-grid-breakpoints, md)) {
      width: var(--clr-content-panel-width);
    }

    @media screen and (min-width: map-get($clr-grid-breakpoints, xl)) {
      position: relative;
      height: 100%;
    }

    @media screen and (max-width: map-get($clr-grid-breakpoints, md)) {
      width: 100%;
      border: none;
    }
  }

  .content-panel-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
  }

  .content-panel-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--clr-color-neutral-900);
    opacity: 0.85;
    z-index: map-get($clr-layers, sidepanel-bg) - 2;

    @media screen and (max-width: map-get($clr-grid-breakpoints, md)) {
      display: none;
    }

    @media screen and (min-width: map-get($clr-grid-breakpoints, xl)) {
      display: none;
    }
  }

  .content-panel-close-btn {
    line-height: 1rem;
  }

  .close .content-panel-close-icon {
    fill: var(--clr-link-color);
  }

  .close:hover .content-panel-close-icon {
    fill: var(--clr-link-hover-color);
  }
}
