@include exports('breadcrumb.clr-addons') {
  .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1rem;
    list-style: none;
    font-size: 13px;
  }

  .breadcrumb-item {
    + .breadcrumb-item {
      padding-left: 0.5rem;

      &::before {
        content: '/';
        display: inline-block;
        padding-right: 0.5rem;
      }
    }
  }
}
