<div
  [ngClass]="{
    'export-btn-right': exportButtonPosition() === 'right',
    'export-btn-left': exportButtonPosition() === 'left'
  }"
>
  <clr-dropdown>
    <button class="btn btn-sm btn-outline" clrDropdownTrigger type="button">
      {{ exportButtonText() }}
      <cds-icon shape="angle" direction="down" size="12"></cds-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
      <button *ngFor="let exportType of exportTypesFiltered()" (click)="onExport(exportType.type)" clrDropdownItem>
        {{ exportType.value }}
      </button>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>
