.btn-trash {
  position: absolute;
  top: 15px;
  right: 40px;
  padding: 0;
}

.time-filter-active {
  width: 12rem;
}

.time-filter-active-input {
  width: 5rem !important;
}

.time-filter-input {
  width: 4rem !important;
}
