<button class="btn btn-sm btn-icon btn-link btn-trash" (click)="clearFilter()">
  <cds-icon shape="trash"></cds-icon>
</button>
<ng-container *ngIf="!timeActive">
  <clr-date-container>
    <input
      #input_from
      type="date"
      name="from"
      class="datagrid-date-filter-input"
      [(clrDate)]="from"
      [placeholder]="minPlaceholderValue"
      [attr.aria-label]="minPlaceholderValue"
    />
  </clr-date-container>
  <clr-date-container>
    <input
      type="date"
      name="to"
      class="datagrid-date-filter-input"
      [(clrDate)]="to"
      [placeholder]="maxPlaceholderValue"
      [attr.aria-label]="maxPlaceholderValue"
    />
  </clr-date-container>
</ng-container>
<ng-container *ngIf="timeActive">
  <clr-date-time-container>
    <clr-date-container class="time-filter-active">
      <input
        #input_from
        type="date"
        name="from"
        class="datagrid-date-filter-input time-filter-active-input"
        [(clrDate)]="from"
        [placeholder]="minPlaceholderValue"
        [attr.aria-label]="minPlaceholderValue"
      />
    </clr-date-container>
    <input clrTime type="time" [(ngModel)]="fromTime" />
  </clr-date-time-container>
  <clr-date-time-container>
    <clr-date-container class="time-filter-active">
      <input
        type="date"
        name="to"
        class="datagrid-date-filter-input time-filter-active-input"
        [(clrDate)]="to"
        [placeholder]="maxPlaceholderValue"
        [attr.aria-label]="maxPlaceholderValue"
      />
    </clr-date-container>
    <input clrTime type="time" [(ngModel)]="toTime" />
  </clr-date-time-container>
</ng-container>
