$vu3-border-radius: 0.5rem;
$vu3-card-border-radius: 0.25rem;
$vu3-button-border-radius: 0.25rem;

.header-hamburger-trigger,
.header-overflow-trigger {
  & > span,
  & > span::before,
  & > span::after {
    background: $clr-black;
  }
}

.open-hamburger-menu .header-hamburger-trigger,
.open-overflow-menu .header-overflow-trigger {
  & > span,
  & > span::before,
  & > span::after {
    background: $clr-white;
  }
}

.header .header-nav .nav-link.active {
  background: $clr-global-selection-color;
}

header,
.header {
  .header-actions {
    > .dropdown > .nav-icon {
      color: $turquoise-darkest;
    }
    .nav-icon {
      color: $turquoise-darkest;
    }
  }
  .settings .nav-icon {
    color: $turquoise-darkest;
  }
  .branding {
    min-width: 4rem;
  }
}

.card {
  border-radius: $vu3-card-border-radius;

  &.clickable:hover {
    box-shadow: 0 0.125rem 0 0 $clr-card-active-border-color;
    border-color: $clr-card-active-border-color;
  }

  &.selectable:hover::after,
  &.card-active::after {
    top: 0;
    border-top-left-radius: $vu3-card-border-radius;
    border-bottom-left-radius: $vu3-card-border-radius;
  }
}

.card-img {
  &:first-child > img {
    border-radius: $vu3-card-border-radius $vu3-card-border-radius 0 0;
  }

  &:last-child > img {
    border-radius: 0 0 $vu3-card-border-radius $vu3-card-border-radius;
  }
}

.card.card-img,
.card > .card-img:first-child:last-child {
  & > img {
    border-radius: $vu3-card-border-radius;
  }
}

.progress-static.top {
  border-top-left-radius: $vu3-border-radius;
  border-top-right-radius: $vu3-border-radius;
}

.btn {
  border-radius: $vu3-button-border-radius;
}

.datagrid .datagrid-column {
  .datagrid-filter-toggle {
    &:hover {
      background-image: generateFilterIcon($turquoise);
    }

    &.datagrid-filter-open {
      background-image: generateFilterIcon($turquoise);
    }

    &.datagrid-filtered {
      background-image: generateFilterIcon($turquoise), generateCircleIcon($turquoise);
    }
  }

  &.asc {
    .datagrid-column-flex::after {
      background-image: generateUpArrowIcon($turquoise);
    }
  }
  &.desc {
    .datagrid-column-flex::after {
      background-image: generateDownArrowIcon($turquoise);
    }
  }
}

.pagination-list {
  .pagination-current {
    border-bottom-color: $turquoise;
  }
}

.datagrid-foot .column-switch-wrapper {
  &.active {
    .column-toggle--action {
      color: $turquoise;
    }
  }
  .column-toggle--action {
    &:hover {
      color: $turquoise;
    }
  }
}

.spinner.spinner-inverse {
  background: generateSpinnerIcon($clr-white, $clr-spinner-color);
}

clr-tooltip clr-icon {
  color: $turquoise;
}

// Use !important because the clr-icons.css is higher priority otherwise
clr-icon {
  &.is-green,
  &.is-success {
    fill: $clr-icon-color-success !important;
  }
  &.is-danger {
    fill: $clr-icon-color-danger !important;
  }
  &.is-red,
  &.is-error {
    fill: $clr-icon-color-error !important;
  }
  &.is-warning {
    fill: $clr-icon-color-warning !important;
  }
  &.is-blue,
  &.is-info {
    fill: $clr-icon-color-info !important;
  }
  &.is-highlight {
    fill: $clr-icon-color-highlight !important;
  }
}

.alert-app-level.alert-success {
  background: $green-light-mid;
}

.label.label-orange > .badge,
a.label.label-orange > .badge {
  color: $clr-badge-font-color;
}

// Bootstrap text color overrides
.text-primary {
  color: $clr-text-color-primary !important;
}

.text-success {
  color: $clr-text-color-success !important;
}

.text-info {
  color: $clr-text-color-info !important;
}

.text-warning {
  color: $clr-text-color-warning !important;
}

.text-danger {
  color: $clr-text-color-danger !important;
}

button:focus,
.tooltip:focus > :first-child,
.tooltip > :first-child:focus {
  outline: none;
}
