@use '../mixins';

@include mixins.exports('multilingual.clr-addons') {
  .clr-multilingual {
    .clr-control-container {
      display: flex;
    }

    .clr-multilingual-button {
      line-height: 0.458333rem;
      height: 1rem;
      min-width: 3.2rem;
      max-width: 3.2rem;
      --clr-btn-border-radius: 0.5rem;

      &:focus {
        outline: none;
        color: var(--clr-btn-default-outline-hover-color);
        background-color: var(--clr-btn-default-outline-hover-bg-color);
      }
    }

    .clr-multilingual-dd-entry {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      display: flex;
      align-items: center;

      .label {
        display: inline-flex;
        align-items: center;
        text-transform: uppercase;
        min-width: 2rem;
        padding-right: 0.5rem;
        white-space: nowrap;
      }
    }

    clr-multilingual-selector {
      margin-right: 0.3rem;
    }

    .clr-multi-input-wrapper {
      width: 100%;
    }

    .clr-multilingual-dd-icon {
      flex: 0 0 auto;
      margin-right: 0.25rem;
    }
  }
}
