@include exports('multilingual.clr-addons') {
  .clr-multilingual {
    .clr-control-container {
      display: flex;
    }

    .clr-multilingual-button {
      line-height: 0.458333rem;
      height: 1rem;
      min-width: 3.2rem;
      max-width: 3.2rem;
      --phs-button-border-radius: 0.5rem;

      &:focus {
        outline: none;
        color: var(--clr-btn-default-outline-hover-color);
        background-color: var(--clr-btn-default-outline-hover-bg-color);
      }
    }

    .clr-multilingual-dd-entry {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      .label {
        text-transform: uppercase;
        width: 2rem;
      }
    }

    clr-multilingual-selector {
      margin-right: 0.3rem;
    }

    .clr-multi-input-wrapper {
      width: 100%;
    }
  }
}
