<ng-content select="label"></ng-content>
<div class="clr-control-container" [ngClass]="controlClasses">
  <div>
    <clr-dropdown>
      <button
        type="button"
        class="btn btn-outline btn-sm clr-multilingual-button"
        clrDropdownTrigger
        [disabled]="disabled"
      >
        {{selectedLang}}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
        <ng-container *ngFor="let text of texts | keyvalue">
          <div
            *ngIf="text.key !== selectedLang"
            class="clr-multilingual-dd-entry"
            clrDropdownItem
            (click)="changeLanguage(text.key)"
          >
            <span class="label">{{text.key}}</span>{{text.value}}
          </div>
        </ng-container>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
  <div class="clr-multi-input-wrapper">
    <div [class.clr-input-wrapper]="!textarea" [class.clr-textarea-wrapper]="textarea">
      <input
        *ngIf="!textarea"
        class="clr-input"
        type="text"
        [id]="inputId"
        [ngModel]="!!texts && !!selectedLang ? texts.get(selectedLang) : ''"
        (ngModelChange)="setText(selectedLang, $event)"
        (blur)="onTouch()"
        [disabled]="disabled"
        #input
      />

      <textarea
        *ngIf="textarea"
        class="clr-textarea"
        [id]="inputId"
        [ngModel]="!!texts && !!selectedLang ? texts.get(selectedLang) : ''"
        (ngModelChange)="setText(selectedLang, $event)"
        (blur)="onTouch()"
        [disabled]="disabled"
        #input
      ></textarea>

      <clr-icon *ngIf="showError" class="clr-validate-icon" shape="exclamation-circle" aria-hidden="true"></clr-icon>
    </div>

    <ng-content select="clr-control-helper" *ngIf="!showError"></ng-content>
    <ng-content select="clr-control-error" *ngIf="showError"></ng-content>
  </div>
</div>
