@if (parentNode) {
  @if (parentNode.getChildren()?.length > 0) {
    <ng-content></ng-content>
  }
  @if ((selectableChilds.length > 0 && !parentNode.getSelectedChild()) || selectableChilds.length > 1) {
    <clr-dropdown data-testid="location-bar-dropdown">
      <button
        class="btn btn-link btn-sm"
        (blur)="focus = false"
        (focus)="focus = true"
        (click)="resetSearch()"
        clrDropdownTrigger
        data-testid="location-bar-dropdown-trigger"
      >
        @if (parentNode.getSelectedChild(); as node) {
          <span
            (click)="resetSearch()"
            class="text-truncate"
            [class.locationbar-last-level]="!parentNode.getSelectedChild().getSelectedChild()"
            title="{{ node.label }}"
            data-testid="location-bar-selected-node-{{ node.label }}"
          >
            {{ node.label }}
          </span>
          <cds-icon shape="angle" direction="down" size="xs" class="caret-icon"></cds-icon>
        } @else {
          <cds-icon
            class="locationbar-unselected"
            size="18"
            [solid]="focus"
            shape="tree-view"
            data-testid="location-bar-unselected-icon"
          ></cds-icon>&nbsp;...
        }
      </button>
      <clr-dropdown-menu
        class="locationbar-clr-dropdown-menu"
        [clrPosition]="'bottom-left'"
        [clrDropdownMenuItemMinHeight]="'24px'"
        *clrIfOpen
      >
        @if (searchRequest) {
          <clr-location-bar-search
            #locationBarSearch
            [clrSearchRequest]="searchRequest"
            (searchPerformed)="onSearch($event)"
          ></clr-location-bar-search>
        }
        @if (displaySearchResult()) {
          @if (searchResultItems.length !== 0) {
            @for (searchResultItem of searchResultItems; track searchResultItem; let index = $index) {
              <button
                type="button"
                clrDropdownItem
                class="text-truncate"
                (click)="onSearchItemChanged(searchResultItem)"
                data-testid="location-bar-search-result-{{ index }}"
              >
                <ng-container
                  *ngTemplateOutlet="searchRequest?.searchResultItemRef; context: { $implicit: searchResultItem }"
                ></ng-container>
              </button>
            }
          } @else {
            <span class="locationbar-no-result-text" data-testid="location-bar-no-results-text">
              {{ searchRequest?.noResultsText ?? 'No search result found.' }}
            </span>
          }
        } @else {
          @for (item of selectableChilds; track item) {
            <button
              type="button"
              clrDropdownItem
              class="text-truncate"
              [class.locationbar-selected-child]="item.id === parentNode.getSelectedChild()?.id"
              (click)="selectNode(item)"
              title="{{ item.label }}"
              data-testid="location-bar-child-{{ item.label }}"
            >
              {{ item.label }}
            </button>
          }
        }
      </clr-dropdown-menu>
    </clr-dropdown>
  } @else {
    @if (parentNode.getSelectedChild()) {
      @if (parentNode.getSelectedChild().selectable) {
        <button
          class="btn btn-link btn-sm locationbar-btn"
          (click)="selectNode(parentNode.getSelectedChild())"
          [class.locationbar-last-level]="!parentNode.getSelectedChild().getSelectedChild()"
          title="{{ parentNode.getSelectedChild().label }}"
          data-testid="location-bar-selected-button-{{ parentNode.getSelectedChild().label }}"
        >
          {{ parentNode.getSelectedChild().label }}
        </button>
      } @else {
        <span
          class="locationbar-unselectable-node text-truncate"
          [class.locationbar-last-level]="!parentNode.getSelectedChild().getSelectedChild()"
          title="{{ parentNode.getSelectedChild().label }}"
          data-testid="location-bar-unselectable-node-{{ parentNode.getSelectedChild().label }}"
        >
          {{ parentNode.getSelectedChild().label }}
        </span>
      }
    }
  }
  @if (parentNode.getSelectedChild() && parentNode.getChildren().length > 0) {
    <clr-location-bar-node
      [parentNode]="parentNode.getSelectedChild()"
      [clrSearchRequest]="searchRequest"
      [clrSearchResultItems]="searchResultItems"
      (selectionChanged)="onSelectionChanged($event)"
      (searchItemChanged)="onSearchItemChanged(null)"
    >
      <span data-testid="location-bar-separator">/</span>
    </clr-location-bar-node>
  }
}
