@if (parentNode) { @if (parentNode.getChildren()?.length > 0) {
<ng-content></ng-content>
} @if ( (selectableChilds.length > 0 && !parentNode.getSelectedChild()) || selectableChilds.length > 1) {
<clr-dropdown>
  <button
    class="btn btn-link btn-sm"
    (blur)="focus = false"
    (focus)="focus = true"
    (click)="resetSearch()"
    clrDropdownTrigger
  >
    @if (parentNode.getSelectedChild(); as node) {
    <span
      (click)="resetSearch()"
      class="text-truncate"
      [class.last-level]="!parentNode.getSelectedChild().getSelectedChild()"
      title="{{ node.label }}"
    >
      {{ node.label }}
    </span>
    <cds-icon shape="angle" direction="down" size="xs" class="caret-icon"></cds-icon>
    } @else {
    <cds-icon class="unselected" size="18" [solid]="focus" shape="tree-view"></cds-icon>&nbsp;... }
  </button>
  <clr-dropdown-menu [clrPosition]="'bottom-left'" [clrDropdownMenuItemMinHeight]="'24px'" *clrIfOpen>
    @if (searchRequest) {
    <clr-location-bar-search
      #locationBarSearch
      [clrSearchRequest]="searchRequest"
      (searchPerformed)="onSearch($event)"
    ></clr-location-bar-search>
    } @if (displaySearchResult()) { @if (searchResultItems.length !== 0) { @for (searchResultItem of searchResultItems;
    track searchResultItem) {
    <button type="button" clrDropdownItem class="text-truncate" (click)="onSearchItemChanged(searchResultItem)">
      <ng-container
        *ngTemplateOutlet="searchRequest?.searchResultItemRef; context: { $implicit: searchResultItem }"
      ></ng-container>
    </button>
    } } @else {
    <span class="no-result-text">
      {{ searchRequest?.noResultsText ?? 'No search result found.' }}
    </span>
    } } @else { @for (item of selectableChilds; track item) {
    <button
      type="button"
      clrDropdownItem
      class="text-truncate"
      [class.selected-child]="item.id === parentNode.getSelectedChild()?.id"
      (click)="selectNode(item)"
      title="{{ item.label }}"
    >
      {{ item.label }}
    </button>
    } }
  </clr-dropdown-menu>
</clr-dropdown>
} @else { @if (parentNode.getSelectedChild()) { @if (parentNode.getSelectedChild().selectable) {
<button
  class="btn btn-link btn-sm"
  (click)="selectNode(parentNode.getSelectedChild())"
  [class.last-level]="!parentNode.getSelectedChild().getSelectedChild()"
  title="{{ parentNode.getSelectedChild().label }}"
>
  {{ parentNode.getSelectedChild().label }}
</button>
} @else {
<span
  class="unselectable-node text-truncate"
  [class.last-level]="!parentNode.getSelectedChild().getSelectedChild()"
  title="{{ parentNode.getSelectedChild().label }}"
>
  {{ parentNode.getSelectedChild().label }}
</span>
} } } @if (parentNode.getSelectedChild() && parentNode.getChildren().length > 0) {
<clr-location-bar-node
  [parentNode]="parentNode.getSelectedChild()"
  [clrSearchRequest]="searchRequest"
  [clrSearchResultItems]="searchResultItems"
  (selectionChanged)="onSelectionChanged($event)"
  (searchItemChanged)="onSearchItemChanged(null)"
>
  <span>/</span>
</clr-location-bar-node>
} }
