.summary-area-toggle {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.summary-area-icon {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 0.7;
}

.icon-rotated {
  transform: rotate(180deg);
}

.summary-area-toggle:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
