<div class="content-area">
    <section>
        <h1>{{releaseNumber}} Changelog</h1>
        <hr>

        <div *ngIf="!releaseNumber">
            This section only covers breaking changes, to provide information for code migration.<br>
            Please choose a release from the left navigation menu.
        </div>

        <div *ngIf="hasBreakingChange" class="alert alert-danger breaking-change-alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">This build introduces breaking change. Please read below.</span>
                </div>
            </div>
        </div>

        <router-outlet></router-outlet>
    </section>
</div>
<nav class="sidenav" [clr-nav-level]="2">
    <section class="sidenav-content">
        <section class="nav-group collapsible">
            <input id="tab2" type="checkbox">
            <label for="tab2">v5 Changelogs</label>
            <ul class="nav-list">
                <li>
                    <a class="nav-link" routerLink="5.0.0" routerLinkActive="active">5.0.0</a>
                </li>
            </ul>
        </section>
        <section class="nav-group collapsible">
            <input id="tab0" type="checkbox">
            <label for="tab0">v4 Changelogs</label>
            <ul class="nav-list">
                <li>
                    <a class="nav-link" routerLink="4.0.0" routerLinkActive="active">4.0.0</a>
                </li>
            </ul>
        </section>
        <section class="nav-group collapsible">
            <input id="tab1" type="checkbox">
            <label for="tab1">v3 Changelogs</label>
            <ul class="nav-list">
                <li>
                    <a class="nav-link" routerLink="3.1.0" routerLinkActive="active">3.1.0</a>
                    <a class="nav-link" routerLink="3.0.0" routerLinkActive="active">3.0.0</a>
                </li>
            </ul>
        </section>
    </section>
</nav>
