:root [cds-theme~='phs'] {
  .header .header-nav .nav-link.active {
    background: var(--clr-global-selection-color);
  }

  header,
  .header {
    .header-actions {
      > .dropdown > .nav-icon > cds-icon {
        color: var(--cds-alias-status-info);
      }

      .nav-icon > cds-icon {
        color: var(--cds-alias-status-info);
      }

      > .dropdown > .nav-icon > clr-icon {
        color: var(--cds-alias-status-info);
      }

      .nav-icon > clr-icon {
        color: var(--cds-alias-status-info);
      }
    }

    .settings .nav-icon > cds-icon {
      color: var(--cds-alias-status-info);
    }

    .settings .nav-icon > clr-icon {
      color: var(--cds-alias-status-info);
    }

    .branding {
      min-width: 4rem;
    }
  }

  .card {
    &.selectable:hover::after,
    &.card-active::after {
      top: 0;
    }
  }

  .card-img {
    &:first-child > img {
      border-radius: var(--clr-card-border-radius) var(--clr-card-border-radius) 0 0;
    }

    &:last-child > img {
      border-radius: 0 0 var(--clr-card-border-radius) var(--clr-card-border-radius);
    }
  }

  .card.card-img,
  .card > .card-img:first-child:last-child {
    & > img {
      border-radius: var(--clr-card-border-radius);
    }
  }

  .datagrid .datagrid-table .datagrid-column {
    .datagrid-filter-toggle {
      &:hover,
      &.datagrid-filter-open {
        cds-icon {
          --color: var(--cds-alias-status-info);
        }

        clr-icon {
          --color: var(--cds-alias-status-info);
        }
      }
    }

    .datagrid-column-title .sort-icon {
      --color: var(--cds-alias-status-info);
    }
  }

  .datagrid-footer .column-switch-wrapper .column-toggle--action:hover cds-icon {
    --color: var(--cds-alias-status-info);
  }

  .datagrid-footer .column-switch-wrapper .column-toggle--action:hover clr-icon {
    --color: var(--cds-alias-status-info);
  }

  clr-tooltip cds-icon {
    color: var(--cds-alias-status-info);
  }

  clr-tooltip clr-icon {
    color: var(--cds-alias-status-info);
  }

  cds-icon,
  clr-icon {
    &.is-green,
    &.is-success {
      fill: var(--clr-icon-color-success);
    }

    &.is-danger {
      fill: var(--clr-icon-color-danger);
    }

    &.is-red,
    &.is-error {
      fill: var(--clr-icon-color-error);
    }

    &.is-warning {
      fill: var(--clr-icon-color-warning);
    }

    &.is-blue,
    &.is-info {
      fill: var(--clr-icon-color-info);
    }

    &.is-highlight {
      fill: var(--clr-icon-color-highlight);
    }
  }

  // Bootstrap text color overrides
  .text-primary {
    color: var(--clr-text-color-primary) !important;
  }

  .text-success {
    color: var(--clr-text-color-success) !important;
  }

  .text-info {
    color: var(--clr-text-color-info) !important;
  }

  .text-warning {
    color: var(--clr-text-color-warning) !important;
  }

  .text-danger {
    color: var(--clr-text-color-danger) !important;
  }

  .clr-combobox-wrapper,
  .clr-combobox-input {
    width: 100%;
  }

  .clr-form-horizontal .clr-form-control {
    align-items: baseline;
  }

  header .settings > .dropdown > .dropdown-toggle,
  header .header-actions > .dropdown > .dropdown-toggle,
  .header .settings > .dropdown > .dropdown-toggle,
  .header .header-actions > .dropdown > .dropdown-toggle,
  .dropdown-toggle {
    gap: var(--phs-dropdown-toggle-gap, 0.1rem);
  }

  header .settings > .dropdown > .dropdown-toggle,
  header .header-actions > .dropdown > .dropdown-toggle,
  .header .settings > .dropdown > .dropdown-toggle,
  .header .header-actions > .dropdown > .dropdown-toggle {
    padding: var(--cds-global-space-8) calc(var(--cds-global-space-8) * 0.5);
  }

  header .branding .title,
  .header .branding .title {
    letter-spacing: var(--clr-header-title-letter-spacing, 0.01em);
  }

  header,
  .header {
    padding-right: var(--cds-global-space-8);
  }

  @media screen and (max-width: map-get($clr-grid-breakpoints, sm)) {
    header,
    .header {
      padding-right: 0;
    }
  }
}
