@include exports('main-nav-group.clr-addons') {
  header,
  .header {
    .header-nav .nav-link {
      &:first-of-type::before,
      &:last-of-type::after {
        display: none;
      }
    }
  }

  .main-container:not(.open-hamburger-menu) .header-nav .collapsible {
    opacity: 1;
    cursor: pointer;

    &:hover .nav-text {
      opacity: 1;
    }

    .nav-text {
      opacity: 0.65;
      cursor: pointer;

      & clr-icon {
        position: relative;
        transform: unset;
        top: 0;
        left: 0.2rem;
        width: 0.416667rem;
        height: 0.416667rem;
      }
    }

    input[type='checkbox']:checked ~ .nav-list {
      visibility: visible;

      .dropdown-item {
        color: $clr-dropdown-item-text-color;
        opacity: 1;

        &.active {
          background: $clr-dropdown-selection-color;
          color: $clr-dropdown-active-text-color;
        }
      }
    }
  }

  .main-container.open-hamburger-menu .header .header-nav .collapsible {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .nav-text {
      cursor: pointer;
      @include clr-getTypePropertiesForDomElement(sidenav_sectionHeader, (font-weight));
    }

    &.nav-link:hover {
      background-color: transparent;
    }

    clr-icon {
      top: 0.4rem;
      right: 1rem;
      left: unset;
      transform: rotate(-90deg);
      width: 0.666667rem;
      height: 0.666667rem;
    }

    input[type='checkbox']:checked {
      ~ label clr-icon {
        transform: unset;
      }
      ~ .nav-list {
        visibility: visible;
        position: relative;
        top: 0;
        background: transparent;
        border: 0;
        box-shadow: 0 0;
        padding: 0;

        .dropdown-item {
          padding: 0 2rem;
        }
      }
    }
  }

  .main-nav-group {
    &.active .collapsible.active .nav-text {
      opacity: 1;
    }

    .collapsible > input[type='checkbox'] {
      display: none;
    }
  }
}
