:host {
  display: flex;
  flex-direction: column;
}

.collapsible > input[type='checkbox'] {
  display: none;
}

::ng-deep header,
::ng-deep .header {
  .header-nav .nav-link {
    &:first-of-type::before,
    &:last-of-type::after {
      display: none;
    }
  }
}

::ng-deep .main-container:not(.open-hamburger-menu) .header-nav .collapsible {
  opacity: 1;
  cursor: pointer;

  &:hover .nav-text {
    opacity: 1;
  }

  .nav-text {
    opacity: 0.65;
    cursor: pointer;

    & clr-icon {
      position: relative;
      transform: unset;
      top: 0;
      left: 0;
    }
  }

  input[type='checkbox']:checked ~ .nav-list {
    visibility: visible;
    background-color: white;

    .dropdown-item {
      color: #565656;
      opacity: 1;
    }
  }
}

::ng-deep .main-container.open-hamburger-menu .header .header-nav .collapsible {
  cursor: pointer;
  &.nav-link:hover {
    background-color: transparent;

    .nav-text {
      cursor: pointer;
    }
  }

  clr-icon {
    top: 0.25rem;
    right: 20px;
    left: unset;
    transform: rotate(-90deg);
  }

  input[type='checkbox']:checked {
    ~ label clr-icon {
      transform: unset;
    }
    ~ .nav-list {
      visibility: visible;
      position: relative;
      top: 0;
      background: transparent;
      border: 0;
      box-shadow: 0 0;
      padding: 0;

      .dropdown-item {
        padding: 0 2rem;
      }
    }
  }
}
