@use 'sass:map';
@use '../mixins';
@use '../components.variables.clr-addons' as variables;

@include mixins.exports('main-nav-group.clr-addons') {
  :root [cds-theme] {
    --clr-main-nav-group-icon-size: 1rem;
    --clr-main-nav-group-title-icon-size: var(--clr-main-nav-group-icon-size);
    --clr-main-nav-group-dropdown-icon-size: var(--clr-main-nav-group-icon-size);
  }

  header,
  .header {
    .header-nav .nav-link {
      text-align: left;

      &:first-of-type::before,
      &:last-of-type::after {
        display: none;
      }
    }
  }

  .main-container:not(.open-hamburger-menu) .header-nav {
    @media screen and (max-width: map.get(variables.$clr-grid-breakpoints, lg)) {
      .header-overflow {
        display: none;
      }
    }

    .collapsible {
      cursor: pointer;

      .nav-text {
        cursor: pointer;

        & cds-icon.title-icon {
          width: var(--clr-main-nav-group-title-icon-size);
          height: var(--clr-main-nav-group-title-icon-size);
        }

        & cds-icon.dropdown-icon {
          position: relative;
          transform: rotate(180deg);
          top: 0;
          width: var(--clr-main-nav-group-dropdown-icon-size);
          height: var(--clr-main-nav-group-dropdown-icon-size);
        }

        // deprecated, use cds-icon instead
        & clr-icon {
          position: relative;
          transform: unset;
          top: 0;
          width: 0.5rem;
          height: 0.5rem;
        }
      }

      .nav-list {
        display: none;

        .nav-link {
          color: var(--clr-dropdown-item-color);
          opacity: 1;
          padding: 1px 1rem 0;
          height: 1.25rem;
          line-height: 1.25rem;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            background-color: var(--clr-dropdown-bg-hover-color);
          }

          &.active {
            background: var(--clr-dropdown-selection-color);
            color: var(--clr-dropdown-active-text-color);
          }
        }
      }

      input[type='checkbox']:checked ~ .nav-list {
        visibility: visible;
        display: flex;
      }
    }
  }

  .main-container.open-hamburger-menu .header .header-nav {
    &.clr-nav-level-1 .header-overflow {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;

      .nav-link .nav-text {
        font-weight: var(--clr-font-weight-bold);
        padding-right: 1.5rem;
      }
    }

    .nav-link {
      align-items: flex-start;
      padding: 0;
    }

    .collapsible {
      cursor: pointer;
      display: flex;
      flex-direction: column;

      .nav-text {
        cursor: pointer;
      }

      &.nav-link:hover {
        background-color: transparent;
      }

      cds-icon.title-icon {
        width: var(--clr-main-nav-group-title-icon-size);
        height: var(--clr-main-nav-group-title-icon-size);
      }

      cds-icon.dropdown-icon {
        position: absolute;
        top: 0;
        right: 0.5rem;
        left: unset;
        width: var(--clr-main-nav-group-dropdown-icon-size);
        height: var(--clr-main-nav-group-dropdown-icon-size);
        transform: translate(-50%, 50%) rotate(90deg);
        transition: 200ms ease-in-out;
      }

      // deprecated, use cds-icon instead
      clr-icon {
        position: absolute;
        top: 0.4rem;
        right: 0.5rem;
        left: unset;
        transform: rotate(-90deg);
        width: 0.666667rem;
        height: 0.666667rem;
      }

      .nav-list {
        display: none;
      }

      input[type='checkbox']:checked {
        ~ label cds-icon.dropdown-icon {
          transform: translate(-50%, 50%) rotate(180deg);
        }

        // deprecated, use cds-icon instead
        ~ label clr-icon {
          transform: translate(-50%, 50%) rotate(180deg);
        }

        ~ .nav-list {
          display: flex;
          visibility: visible;
          position: relative;
          background: transparent;
          border: 0;
          box-shadow: 0 0;
          padding: 0;

          .nav-link {
            padding: 0 1.5rem 0 2rem;
            height: 1.5rem;
            line-height: 1.5rem;
          }
        }
      }
    }
  }

  .main-nav-group {
    &.active .collapsible.active .nav-text {
      opacity: 0.99;
    }

    .collapsible {
      &:active,
      &:hover {
        outline-width: 0;
      }

      > input[type='checkbox'] {
        display: none;
      }
    }
  }
}
