<ng-template #itemTemplate>
  <div
    class="summary-item"
    [class.hidden]="
      !hasProjectedContent && !hasLoading && !hasError && !hasWarning && !showEditButton && !showOnEmptyValue()
    "
  >
    <span class="summary-item-label">{{ label() }}:</span>
    <div class="summary-item-values" #valuesContainer>
      @if (hasLoading) {
      <div class="summary-item-loading">
        <clr-spinner [clrSmall]="true" class="loading-spinner"></clr-spinner>
        <span class="loading-text">{{ loadingText }}</span>
      </div>
      } @else if (hasError) {
      <clr-summary-item-value icon="error-standard" class="error"></clr-summary-item-value>
      <clr-summary-item-value [value]="errorText" [click]="errorClick" class="error"></clr-summary-item-value>
      } @else if (hasWarning) {
      <clr-summary-item-value icon="warning-standard" class="warning"></clr-summary-item-value>
      <clr-summary-item-value [value]="warningText" [click]="warningClick" class="warning"></clr-summary-item-value>
      } @else {
      <ng-content select="clr-summary-item-value"></ng-content>
      <ng-content></ng-content>
      @if (showEditButton) {
      <span class="value value-link edit-link" (click)="editClick?.()" (keydown.enter)="editClick?.()">{{
        editText
      }}</span>
      } @else if (!hasProjectedContent) {
      <span class="value value-placeholder">&mdash;</span>
      } @if (showCopyButton) {
      <clr-summary-area-value-copy-button [value]="copyableValue"></clr-summary-area-value-copy-button>
      } }
    </div>
  </div>
</ng-template>
