@include exports('view-edit-section.clr-addons') {
  .view-edit-section {
    .card-title .btn.ves-action {
      margin-right: 0;
      padding-right: 0;
    }

    .card-text {
      padding-right: 10px;
    }

    form,
    .form {
      padding: 0;
    }

    .button-bar {
      margin-top: 1rem;
    }
  }
}
