@include exports('view-edit-section.clr-addons') {
  .view-edit-section {
    max-width: 1300px;

    .card-title {
      margin-bottom: 0;

      .btn.ves-action {
        margin-right: 0;
        padding-right: 0;
      }
    }

    .card-text {
      padding-right: 10px;
    }

    form,
    .form {
      padding: 0;
      max-width: 1200px;
    }

    .button-bar {
      margin-top: 1rem;
    }
  }
}
