<div class="card">
    <div class="card-block">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="card-title">
                {{title}}
                <button type="button" (click)="onEdit()" class="btn btn-icon btn-link float-xs-right" *ngIf="!editMode">
                    <clr-icon shape="pencil"></clr-icon>
                </button>
            </div>
            <div class="card-text view-edit-section">
                <ng-content select="[view-block]" *ngIf="!editMode"></ng-content>
                <ng-content select="[edit-block]" *ngIf="editMode"></ng-content>
                <button class="btn btn-primary" type="submit" [hidden]="!editMode">Save</button>
                <button class="btn" (click)="onCancel()" type="button" [hidden]="!editMode">Cancel</button>
            </div>
        </form>
    </div>
</div>