@include exports('view-edit-section.clr-addons') {
  .view-edit-section {
    .card-title .btn.ves-edit {
      margin: 0px;
    }

    form,
    .form {
      padding: 0px;

      input {
        /* change standard input behaviour inside view-edit section to grow to the end of the card */
        width: 100%;
      }
    }

    .button-bar {
      margin-top: 1rem;
    }
  }
}
