<div class="card view-edit-section" (keyup.escape)="onCancel()">
  <div class="card-block">
    <div class="card-title">
      {{_title}}
      <button
        type="button"
        (click)="onCollapseExpand()"
        class="btn btn-icon btn-link ces-caret-btn"
        *ngIf="_isCollapsible && !editMode"
      >
        <clr-icon shape="caret up" size="20" class="ces-caret-icon" [@rotateIcon]="_isCollapsed"></clr-icon>
      </button>
      <div class="ves-actions">
        <button
          type="button"
          (click)="onEdit()"
          class="btn btn-icon btn-link ves-action"
          *ngIf="_editable && !editMode && actionBlock.children.length == 0"
        >
          <clr-icon class="ves-edit-icon" [attr.shape]="_editIcon" size="20"></clr-icon>
        </button>
        <div #actionBlock>
          <ng-content select="[action-block]"></ng-content>
        </div>
      </div>
    </div>
    <div class="card-text" [@collapseExpandAnimation] *ngIf="!(_isCollapsed && _isCollapsible)">
      <ng-template [ngTemplateOutlet]="viewRef" *ngIf="!editMode"></ng-template>
      <ng-template [ngTemplateOutlet]="editRef" *ngIf="editMode"></ng-template>
      <ng-container *ngIf="editMode">
        <form clrForm (ngSubmit)="onSubmit()" class="button-bar">
          <button class="btn btn-primary ves-save" type="submit">{{_saveText}}</button>
          <button class="btn ves-cancel" (click)="onCancel()" type="button">{{_cancelText}}</button>
        </form>
      </ng-container>
    </div>
  </div>
</div>
