@include exports('view-edit-section.clr-addons') {
  .view-edit-section {
    max-width: 1300px;

    .card-title {
      margin-bottom: 0;
    }

    .card-text {
      padding-right: 10px;
    }

    form,
    .form {
      padding: 0;
    }

    .button-bar {
      margin-top: 1rem;
    }
  }

  .ves-action,
  .card-action {
    margin-right: 0 !important;
    padding-right: 0 !important;
    line-height: 1rem;
    height: 1rem;
  }

  .ves-actions,
  .card-actions {
    float: right;
  }
}
