@mixin progress-color($alertLevel, $color) {
  &.#{$alertLevel} {
    progress {
      @include clr-progress-color($color);
    }
  }
}

@include exports('notification.clr-addons') {
  $clr-notification-progress-info-bar-color: $clr-progress-defaultBarColor !default;
  $clr-notification-progress-success-bar-color: $clr-progress-success-color !default;
  $clr-notification-progress-warning-bar-color: $clr-progress-warning-color !default;
  $clr-notification-progress-danger-bar-color: $clr-progress-danger-color !default;

  .notification {
    &__wrapper {
      position: fixed;
      z-index: map-get($clr-layers, tooltips) + 1;
      top: 36px;
      width: 400px;
      left: 0;
      right: 0;
      border-radius: 4px;
      margin: 0 auto;
      overflow: hidden;
    }
    .progress {
      height: 0.5em;
      position: absolute;
      z-index: 1;

      @include progress-color('info', $clr-notification-progress-info-bar-color);
      @include progress-color('success', $clr-notification-progress-success-bar-color);
      @include progress-color('warning', $clr-notification-progress-warning-bar-color);
      @include progress-color('danger', $clr-notification-progress-danger-bar-color);
    }
    .alert-items {
      padding: 0.333333rem calc(0.75rem - 1px);
    }
    .alert-app-level {
      font-size: 0.59rem;

      .alert-icon {
        height: 1.4rem;
        width: 1.4rem;
      }

      .alert-items {
        padding-top: 0.86rem;
        padding-bottom: 0.86rem;

        .alert-item {
          justify-content: left;
        }
      }
      .alert-icon-wrapper {
        margin-top: 0.05rem;
        height: 1.2rem;
      }
      .close {
        flex: 0 0 2.266667rem;
        height: 3rem;
        width: 2rem;

        &:focus {
          box-shadow: none;
          outline: none;
        }

        clr-icon {
          margin: auto 0;
          height: calc(1.3rem - 1px);
          width: calc(1.3rem - 1px);
        }
      }
    }
  }
}
