@mixin progress-color($alertLevel, $color) {
  &.#{$alertLevel} {
    progress {
      color: $color;

      &::-webkit-progress-value {
        background-color: $color;
      }

      &::-moz-progress-bar {
        background-color: $color;
      }
    }
  }
}

@include exports('notification.clr-addons') {
  .notification {
    &__wrapper {
      position: fixed;
      z-index: map-get($clr-layers, tooltips) + 1;
      top: 36px;
      width: 400px;
      left: 0;
      right: 0;
      border-radius: 4px;
      margin: 0 auto;
      overflow: hidden;

      @media screen and (max-width: map-get($clr-grid-breakpoints, sm)) {
        width: calc(100% - 2rem);
        margin: 0 1rem;
      }
    }

    .progress {
      height: 0.5em;
      position: absolute;
      z-index: 1;

      @include progress-color('info', $clr-highlight-info-700);
      @include progress-color('success', $clr-highlight-success-700);
      @include progress-color('warning', $clr-highlight-warning-800);
      @include progress-color('danger', $clr-highlight-error-800);
    }

    .alert-items {
      padding: 0.333333rem calc(0.75rem - 1px);
    }

    .alert-app-level {
      font-size: 14px;

      .alert-icon {
        height: 1.4rem;
        width: 1.4rem;
      }

      .alert-items {
        padding-top: 0.86rem;
        padding-bottom: 0.86rem;

        .alert-item {
          justify-content: left;

          .alert-text {
            white-space: pre-wrap;
          }
        }
      }

      .alert-icon-wrapper {
        margin-top: 0.05rem;
        height: 1.2rem;
      }

      .close {
        flex: 0 0 2.266667rem;
        height: 3rem;
        width: 2rem;

        &:focus {
          box-shadow: none;
        }

        cds-icon {
          margin: auto 0;
          height: calc(1.3rem - 1px);
          width: calc(1.3rem - 1px);
        }
      }
    }
  }
}
