@if (!(readonly || readonly === '')) {
<div class="clr-select-wrapper quick-list-input">
  <select #select clr-select class="quick-list-select" name="options" [(ngModel)]="selectedValue" [disabled]="disabled">
    @if (blankOption.id === selectedValue) {
    <option [selected]="true" [disabled]="true" [ngValue]="blankOption.id">{{blankOption.label}}</option>
    } @for (val of getValues(); track val) {
    <option [selected]="val.id === selectedValue" [ngValue]="val.id">{{val.label}}</option>
    }
  </select>
</div>
} @else {
<span>{{value.label}}</span>
} @if (!(readonly || readonly === '')) {
<button
  type="button"
  class="btn btn-icon btn-link quick-list-trash"
  [ngClass]="{'quick-list-trash-ext': !showAddButton}"
  [disabled]="trashDisabled() || disabled"
  (click)="remove.emit()"
>
  <cds-icon shape="trash"></cds-icon>
</button>
} @if (!(readonly || readonly === '') && showAddButton) {
<button
  type="button"
  class="btn btn-icon btn-link quick-list-addcompact"
  (click)="add.emit()"
  [disabled]="disableAddButton"
>
  <cds-icon shape="plus-circle"></cds-icon>
</button>
}
