<div *ngIf="!(readonly || readonly === ''); else readonlyView" class="clr-select-wrapper quick-list-input">
  <select #select clr-select class="quick-list-select" name="options" [(ngModel)]="selectedValue" [disabled]="disabled">
    <option *ngIf="blankOption.id === selectedValue" [selected]="true" [disabled]="true" [ngValue]="blankOption.id">
      {{blankOption.label}}
    </option>
    <option *ngFor="let val of getValues()" [selected]="val.id === selectedValue" [ngValue]="val.id">
      {{val.label}}
    </option>
  </select>
</div>

<ng-template #readonlyView>
  <span>{{value.label}}</span>
</ng-template>

<button
  *ngIf="!(readonly || readonly === '')"
  type="button"
  class="btn btn-icon btn-link quick-list-trash"
  [ngClass]="{'quick-list-trash-ext': !showAddButton}"
  [disabled]="trashDisabled() || disabled"
  (click)="remove.emit()"
>
  <cds-icon shape="trash"></cds-icon>
</button>
<button
  *ngIf="!(readonly || readonly === '') && showAddButton"
  type="button"
  class="btn btn-icon btn-link quick-list-addcompact"
  (click)="add.emit()"
>
  <cds-icon shape="plus"></cds-icon>
</button>
