<div class="clr-select-wrapper quick-list-input">
  <select clr-select class="quick-list-select" name="options" [(ngModel)]="selectedValue">
    <option *ngIf="blankOption.id === selectedValue" [selected]="true" [disabled]="true" [ngValue]="blankOption.id">
      {{blankOption.label}}
    </option>
    <option *ngFor="let val of getValues()" [selected]="val.id === selectedValue" [ngValue]="val.id">
      {{val.label}}
    </option>
  </select>
</div>

<button class="btn btn-icon btn-link quick-list-trash" [disabled]="trashDisabled()" (click)="remove.emit()">
  <clr-icon shape="trash"></clr-icon>
</button>
