@include exports('quick-list.clr-addons') {
  .quick-list {
    .quick-list-option {
      display: flex;
      margin-bottom: 0.25rem;

      .quick-list-trash {
        margin-top: -0.25rem;
        padding-right: 2px;
      }

      .quick-list-trash-ext {
        padding-right: 24px;
      }
    }

    .quick-list-input {
      flex: 1;
    }

    .quick-list-select {
      width: 100%;
    }

    .quick-list-add {
      padding: 0;
      text-align: left;
    }
  }
  .quick-list-addcompact {
    margin-top: -5px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .btn.btn-link.quick-list-addcompact {
    margin-top: -5px;
    padding-left: 2px;
    padding-right: 2px;
  }
}
