<ng-content select="label"></ng-content>
<div class="clr-control-container" [ngClass]="controlClasses">
  <ng-container *ngFor="let value of values; index as i">
    <clr-add-option
      [allValues]="allValues"
      [excludedValues]="values"
      (remove)="onRemoveValue(i)"
      [value]="value"
      (valueChanged)="onValueChanged($event, i)"
      [blankOption]="blankOption"
      [mandatory]="mandatory"
      [readonly]="readonly"
    >
    </clr-add-option>
  </ng-container>
  <button
    *ngIf="!(readonly || readonly === '')"
    type="button"
    class="btn btn-link btn-sm quick-list-add"
    (click)="addBlankOption()"
    [disabled]="addNotPossible()"
  >
    {{addLabel}}
  </button>
</div>
