@include exports('quick-list.clr-addons') {
  .quick-list {
    .quick-list-option {
      display: flex;
      margin-bottom: 0.25rem;
      .quick-list-trash {
        margin-top: -0.25rem;
      }
    }
    .quick-list-input {
      flex: 1;
    }

    .quick-list-select {
      width: 100%;
    }

    .quick-list-add {
      padding: 0;
      text-align: left;
    }
  }
}
