<ng-content select="label"></ng-content>
<div class="clr-control-container" [ngClass]="controlClasses">
  @for (value of values; track value; let i = $index) {
  <clr-add-option
    [allValues]="allValues"
    [excludedValues]="values"
    (remove)="onRemoveValue(i)"
    (add)="addBlankOption()"
    [value]="value"
    (valueChanged)="onValueChanged($event, i)"
    [blankOption]="blankOption"
    [mandatory]="mandatory"
    [readonly]="readonly"
    [disabled]="disabled"
    [disableAddButton]="addNotPossible() || disabled"
    [showAddButton]="compactMode && i === values.length - 1"
  >
  </clr-add-option>
  } @if (!(readonly || readonly === '') && values.length === 0 && compactMode) {
  <button
    type="button"
    class="btn btn-icon btn-link quick-list-addcompact"
    (click)="addBlankOption()"
    [disabled]="addNotPossible() || disabled"
  >
    <cds-icon shape="plus-circle"></cds-icon>
  </button>
  } @if (!(readonly || readonly === '') && !compactMode) {
  <button
    type="button"
    class="btn btn-link btn-sm quick-list-add"
    (click)="addBlankOption()"
    [disabled]="addNotPossible() || disabled"
  >
    {{addLabel}}
  </button>
  }
</div>
