@include exports('quick-list.clr-addons') {
  .quick-list {
    .quick-list-option {
      display: flex;
      .quick-list-trash {
        margin-bottom: 0;
        margin-top: 0.75rem;
      }
    }

    .quick-list-input {
      flex: 1;
    }

    .quick-list-select {
      width: 100%;
    }

    .quick-list-add {
      margin-top: 0.5rem;
      padding: 0;
    }
  }
}
