<h2>Column reordering</h2>

<ng-template #teamTemplate let-rider> Team {{ rider.team }}</ng-template>

<p>Drag and drop the headers to reorder datagrid columns</p>

<clr-datagrid
  cdkDropList
  [(clrDgSelected)]="selected"
  [clrStatePersistenceKey]="OPTIONS"
  [clrUseLocalStoreOnly]="true"
  [clrDatagridColumnReorder]="columns"
  (clrDatagridColumnOrderChanged)="columns = $event.columns"
>
  @for (col of columns; track col.name) {
  <clr-dg-column [clrDgField]="col.name" cdkDrag [cdkDragPreviewContainer]="'parent'">
    <ng-container *clrDgHideableColumn="{ hidden: col.hidden }">{{ col.title }}</ng-container>
  </clr-dg-column>
  }

  <clr-dg-row *clrDgItems="let item of data" [clrDgItem]="item" [clrDgSelectable]="true">
    @for (col of columns; track col.name) {
    <clr-dg-cell>
      <clr-dg-dynamic-cell-content [col]="col" [item]="item" [defaultDisplayValue]="'-'" />
    </clr-dg-cell>
    }
  </clr-dg-row>

  <clr-dg-detail *clrIfDetail="let detail">
    <clr-dg-detail-header>{{ detail.name }} {{ detail.surname }}</clr-dg-detail-header>
    <clr-dg-detail-body>
      <span>This pro rides for the team {{ detail.team }}</span>
    </clr-dg-detail-body>
  </clr-dg-detail>

  <clr-dg-footer>
    <clr-dg-pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[5,10,15,50,100]">Entries per page</clr-dg-page-size>
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
