@include exports('combobox.clarity-addons') {
  .clr-combobox {
    display: inline-block;

    .clr-input-wrapper {
      display: flex !important;
      width: 100%;
      padding-left: $clr-ng-select-trigger-left-padding;
      max-height: 1rem;

      &:focus-within {
        border-bottom: 1px solid $clr-forms-focused-color;
        background-size: 100% 100%;
      }

      @include form-fields-appearance($clr-forms-border-color);
      @include input-border-bottom-animation($clr-forms-focused-color);
    }

    .clr-error .clr-input-wrapper {
      border-bottom-color: $clr-forms-invalid-color;
      @include input-border-bottom-animation($clr-forms-invalid-color);
    }

    .clr-select-wrapper {
      display: none !important;
      border: none;
      outline: none;
    }

    .clr-combobox-input-container {
      //Delete when merging to clarity
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .clr-combobox-input {
      //Dimensions
      padding: 0;
      min-height: $clr-ng-select-min-height;
      width: 100%;
      overflow: hidden;

      font-size: $clr-forms-label-font-size;
      border-bottom-width: 0 !important;
      background-size: 0 !important;

      //Others
      outline: none;

      &[contenteditable='false'] {
        cursor: not-allowed;
      }
    }

    .clr-combobox-trigger {
      display: block;
      transform: translateX(0);

      &[disabled] {
        cursor: not-allowed;
      }
    }

    .clr-options {
      @include generate-dropdown-menu();

      visibility: visible;
      overflow-y: auto;
      white-space: nowrap;
      max-height: 10rem;

      .clr-no-results {
        display: none;
      }
    }

    &.clr-empty {
      .clr-no-results {
        display: block;
        @include generate-dropdown-item-height();
      }
    }

    .clr-option {
      @include generate-dropdown-item();

      &.highlighted {
        background-color: $clr-dropdown-bg-hover-color;
        color: $clr-dropdown-item-color;
        text-decoration: none;
      }

      &.hidden {
        display: none;
      }

      em {
        font-style: normal;
        font-weight: bold;
      }
    }

    //NOTE: Adjust the height of the option only when its in the options menu
    .clr-options .clr-option {
      @include generate-dropdown-item-height();
    }

    .clr-combobox-input .clr-option {
      &:hover,
      &.active {
        background: none;
      }
    }

    @media screen and (max-width: map-get($clr-grid-breakpoints, sm)) {
      .clr-control-container {
        > .hidden-sm {
          display: none !important;
        }

        > .visible-sm {
          display: flex !important;
        }
      }
    }
  }
}
