$clr-ng-select-min-height: 1rem;

$clr-ng-select-trigger-color: $clr-color-neutral-500;
$clr-ng-select-trigger-dimensions: 1rem;
$clr-ng-select-trigger-left-padding: 0.25rem;
$clr-ng-select-trigger-right-padding: 1rem;
