<!--
The div below is contenteditable instead of the host to avoid the input being focused
even if the user clicks outside of the clr-select-input.
More info here: https://stackoverflow.com/a/34445203/3538394
-->
<div class="clr-combobox-input-container clr-form-control">
  <ng-content select="label"></ng-content>
  <label *ngIf="!label && addGrid()"></label>
  <div class="clr-control-container" [ngClass]="controlClass()">
    <div class="clr-input-wrapper" [class.clr-form-control-disabled]="disabled" [class.hidden-sm]="showSelect()">
      <!-- Show these elements on display size XS when showSelect() returns false -->
      <div
        class="clr-combobox-input"
        [contentEditable]="!disabled"
        #input
        (keydown)="keydown($event)"
        (keyup)="search()"
        (blur)="blur()"
      >
        <br />
        <!-- Highlighted options will be rendererd here later.-->
      </div>
      <button
        type="button"
        class="clr-combobox-trigger"
        tabindex="-1"
        (click)="toggleOptionsMenu($event)"
        [disabled]="disabled"
      >
        <clr-icon shape="caret down" size="12"></clr-icon>
      </button>
    </div>
    <!-- Show this element on display size XS when showSelect() returns true -->
    <div class="clr-select-wrapper" [class.visible-sm]="showSelect()">
      <select [disabled]="disabled" class="clr-select" [(ngModel)]="selectedValue" (change)="selectedValueChange()">
        <option></option>
        <option *ngFor="let option of getOptionsAsArray()" [value]="option.value">{{option.getDisplayedText()}}</option>
      </select>
    </div>
    <ng-content select="clr-control-helper" *ngIf="!invalid"></ng-content>
    <ng-content select="clr-control-error" *ngIf="invalid"></ng-content>
  </div>
</div>

<!-- Content projected by the consumer in ng-template. -->
<ng-template #projectedOptions>
  <ng-content></ng-content>
</ng-template>

<!-- If consumer provides the menu, render it -->
<ng-container *ngIf="options" [ngTemplateOutlet]="projectedOptions"></ng-container>
