@import '../../../node_modules/@clr/ui/src/layout/grid/variables/_variables.clarity.scss';

.select-element {
  display: none;
  border: none;
  outline: none;
}

@media screen and (max-width: map-get($clr-grid-breakpoints, sm)) {
  .hidden-sm {
    display: none;
  }

  .visible-sm {
    display: block;
  }
}
