<div class="chart-container">
  <div class="chart-area" #container (cngWindowResize)="updateChart()" [class.pt-3]="alertMessageAndType()">
    <svg
      [class.d-none]="loading() || !data()?.length || allValuesZero()"
      #chart
      role="img"
      [attr.aria-label]="xAxisLabel() || yAxisLabel() ? yAxisLabel() + ' by ' + xAxisLabel() : 'Grouped bar chart'"
    ></svg>

    @if (tooltipPosition()) {
      <cng-chart-tooltip
        [tooltipPosition]="tooltipPosition()"
        [tooltipOrientation]="tooltipOrientation()"
        [squareColor]="selectedItem()?.color"
        (tooltipClosed)="resetTooltip()"
        (cngOutsideClick)="resetTooltip()"
        (tooltipHeaderClicked)="emitSelectedValue()"
      >
        <ng-container ngProjectAs="cng-title">({{ selectedItem()?.value }}) {{ tooltipLabel() }}</ng-container>

        <p class="mt-0">
          <strong>{{ selectedItem()?.groupLabel }}</strong>
        </p>
      </cng-chart-tooltip>
    }
    @if (loading() || !data()?.length || allValuesZero()) {
      <cng-bar-chart-skeleton [orientation]="orientation()" [skeletonType]="loading() ? 'loading' : 'placeholder'" />
    }
    @if (alertMessageAndType()) {
      <cng-chart-alert-overlay [alertType]="alertMessageAndType()[1]" [alertMessage]="alertMessageAndType()[0]" />
    }
  </div>

  @if (showLegend() && !loading() && legendItems().length && !allValuesZero()) {
    <cng-chart-legend [items]="legendItems()" />
  }
  @if (showExportButton() && !loading() && data()?.length) {
    <cng-chart-export-button
      [svgRef]="svgElement()"
      [filename]="exportFilename()"
      [buttonTitle]="exportButtonTitle()"
      [legendItems]="legendItems()"
    />
  }
</div>
