@include exports('history.clr-addons') {
  .clr-history {
    margin-right: var(--cds-global-space-6);
  }
  .history-container {
    padding-left: 15px;
    margin-bottom: -8px;
  }
  .history-button {
    padding-left: 11px;
  }

  .history {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1rem;
    list-style: none;
    font-size: 13px;
  }

  .history-item {
    cursor: pointer;

    + .history-item {
      padding-left: 0.5rem;

      &::before {
        content: '/';
        display: inline-block;
        padding-right: 0.5rem;
      }
    }
  }
}
