<clr-dropdown>
  <button type="button" class="btn btn-icon btn-link" clrDropdownTrigger>
    <clr-icon shape="history" size="24"></clr-icon>
    <clr-icon shape="caret down" size="12"></clr-icon>
  </button>
  <clr-dropdown-menu [clrPosition]="position" *clrIfOpen>
    <label class="dropdown-header" aria-hidden="true">{{dropdownHeader}}</label>
    <button type="button" clrDropdownItem *ngFor="let history of historyElements" (click)="select(history)">
      {{history.title}}
    </button>
    <div *ngIf="pinActive" class="dropdown-divider" role="separator" aria-hidden="true"></div>
    <button clrDropdownItem (click)="togglePinHistory()">
      <span *ngIf="pinActive && !pinActivated">{{dropdownPin}}</span>
      <span *ngIf="pinActive && pinActivated">{{dropdownUnpin}}</span>
    </button>
  </clr-dropdown-menu>
</clr-dropdown>
