<h2>Quick List</h2>
<div class="clr-example">
  <div class="main-container">
    <div class="clr-row">
      <clr-quick-list
        class="clr-col-3"
        [clrAllValues]="possibleActivityResults"
        [(clrValues)]="selectedActivityResults"
        [clrAddLabel]="getAddLabel()"
        [clrBlankOption]="BLANK_OPTION"
        [clrMandatory]="true"
      >
      </clr-quick-list>
    </div>

    <div class="clr-col-3">
      <h3>Selected Options</h3>
      <table class="table ">
        <thead>
          <tr>
            <th class="left">values</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="selectedActivityResults.length===0 || !selectedActivityResults[0].value">
            <td class="left">no option selected</td>
          </tr>
          <tr *ngFor="let result of selectedActivityResults">
            <td class="left" *ngIf="result.value">{{result.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
