<h2>Quick List</h2>
<div class="clr-example">
  <div class="main-container">
    <div class="clr-row">
      <form clrForm class="clr-row">
        <clr-quick-list
          class="clr-form-control clr-col-12 clr-row"
          clrControlClasses="clr-col-lg-3 clr-col-md-4 clr-col-sm-5"
          [clrAllValues]="possibleActivityResults"
          [(clrValues)]="selectedActivityResults"
          [clrAddLabel]="getAddLabel()"
          [clrBlankOption]="BLANK_OPTION"
        >
          <label class="clr-control-label  clr-col-md-2 clr-col-sm-3 required">Option list</label>
        </clr-quick-list>
      </form>
    </div>

    <div class="clr-col-3">
      <h3>Selected Options</h3>
      <table class="table ">
        <thead>
          <tr>
            <th class="left">values</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="selectedActivityResults.length===0 || !selectedActivityResults[0].value">
            <td class="left">no option selected</td>
          </tr>
          <tr *ngFor="let result of selectedActivityResults">
            <td class="left" *ngIf="result.value">{{result.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
