<h2>Quick List horizontal (template-driven)</h2>
<form clrForm clrLayout="horizontal">
  <clr-quick-list
    [clrAddLabel]="getAddLabel()"
    [clrAllValues]="possibleActivityResults"
    [clrBlankOption]="BLANK_OPTION"
    class="clr-form-control clr-row"
    clrControlClasses="clr-col-lg-3 clr-col-md-4 clr-col-sm-5"
    [(ngModel)]="selectedHActivityResults"
    name="horizontal"
  >
    <label class="clr-control-label clr-col-md-2 clr-col-sm-3">Option list</label>
  </clr-quick-list>
  <clr-input-container>
    <label class="clr-col-md-2">First name</label>
    <input class="clr-col-md-10" clrInput type="text" />
  </clr-input-container>
</form>

<h3>Selected Options (horizontal)</h3>
<table class="table">
  <thead>
    <tr>
      <th class="left">values</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="selectedHActivityResults.length===0 || !selectedHActivityResults[0].value">
      <td class="left">no option selected</td>
    </tr>
    <tr *ngFor="let result of selectedHActivityResults">
      <td *ngIf="result.value" class="left">{{result.value}}</td>
    </tr>
  </tbody>
</table>

<h2>Quick List horizontal (reactive)</h2>
<form [formGroup]="form" clrForm clrLayout="horizontal">
  <clr-quick-list
    [clrAddLabel]="getAddLabel()"
    [clrAllValues]="possibleActivityResults"
    [clrBlankOption]="BLANK_OPTION"
    class="clr-form-control clr-row"
    clrControlClasses="clr-col-lg-3 clr-col-md-4 clr-col-sm-5"
    formControlName="option"
  >
    <label class="clr-control-label clr-col-md-2 clr-col-sm-3">Option list</label>
  </clr-quick-list>
  <clr-input-container>
    <label class="clr-col-md-2">First name</label>
    <input class="clr-col-md-10" clrInput type="text" />
  </clr-input-container>
</form>

<h3>Selected Options (horizontal)</h3>
<table class="table">
  <thead>
    <tr>
      <th class="left">values</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!form.controls['option'].value.length || !form.controls['option'].value[0].value">
      <td class="left">no option selected</td>
    </tr>
    <tr *ngFor="let result of form.controls['option'].value">
      <td *ngIf="result.value" class="left">{{result.value}}</td>
    </tr>
  </tbody>
</table>

<h2>Quick List vertical</h2>
<form clrForm clrLayout="vertical">
  <clr-input-container>
    <label>First name </label>
    <input clrInput type="text" />
  </clr-input-container>

  <clr-quick-list
    [clrAddLabel]="getAddLabel()"
    [clrAllValues]="possibleActivityResults"
    [clrBlankOption]="BLANK_OPTION"
    [clrValues]="selectedVActivityResults"
    class="clr-form-control clr-row"
  >
    <label class="clr-control-label clr-col-md-2">Option list</label>
  </clr-quick-list>
</form>

<h2>Quick List vertical compact</h2>
<form clrForm clrLayout="vertical">
  <clr-input-container>
    <label>First name </label>
    <input clrInput type="text" />
  </clr-input-container>

  <clr-quick-list
    [compactMode]="true"
    [clrAddLabel]="getAddLabel()"
    [clrAllValues]="possibleActivityResults"
    [clrBlankOption]="BLANK_OPTION"
    [clrValues]="selectedVActivityResults"
    class="clr-form-control clr-row"
  >
    <label class="clr-control-label clr-col-md-2">Option list</label>
  </clr-quick-list>
</form>

<h3>Selected Options (vertical)</h3>
<table class="table">
  <thead>
    <tr>
      <th class="left">values</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="selectedVActivityResults.length===0 || !selectedVActivityResults[0].value">
      <td class="left">no option selected</td>
    </tr>
    <tr *ngFor="let result of selectedVActivityResults">
      <td *ngIf="result.value" class="left">{{result.value}}</td>
    </tr>
  </tbody>
</table>
