@include exports('pager.clr-addons') {
  .pager {
    .btn {
      min-width: 1.5rem;
    }

    button:disabled {
      border-color: var(--clr-btn-default-color);
      opacity: 1;
    }
  }
  @media (hover: none) {
    .pager .btn:not(.btn-primary):hover {
      background-color: var(--clr-btn-default-bg-color);
      color: var(--clr-btn-default-color);
    }
    .pager .btn.btn-primary:hover {
      background-color: var(--clr-btn-primary-bg-color);
      color: var(--clr-btn-primary-color);
    }
  }
}
