@include exports('pager.clr-addons') {
  .pager {
    .btn {
      min-width: 1.5rem;
    }

    .disabled {
      border-color: $clr-btn-default-color;
      opacity: 1;

      &:focus {
        outline: none;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
  @media (hover: none) {
    .pager .btn:not(.btn-primary):hover {
      background-color: $clr-btn-default-bg-color;
      color: $clr-btn-default-color;
    }
    .pager .btn.btn-primary:hover {
      background-color: $clr-btn-primary-bg-color;
      color: $clr-btn-primary-color;
    }
  }
}
