<div class="btn-group" *ngIf="last > 1">
  <button class="btn pagination-previous" (click)="previous()" [class.disabled]="page == 1">
    <clr-icon shape="angle left"></clr-icon>
  </button>
  <button *ngIf="page > 2" class="btn" (click)="page = 1">1</button>
  <button *ngIf="page > 3" class="btn disabled">...</button>


  <ng-container *ngFor="let pageNum of middlePages">
    <button *ngIf="pageNum !== page; else activePage" class="btn" (click)="page = pageNum">{{pageNum}}</button>
    <ng-template #activePage>
      <button class="btn btn-primary" type="button">{{pageNum}}</button>
    </ng-template>
  </ng-container>

  <button *ngIf="page < last - 2" class="btn disabled">...</button>
  <button *ngIf="page < last - 1" class="btn" (click)="page = last">{{last}}</button>
  <button class="btn pagination-next" (click)="next()" [class.disabled]="page == last">
    <clr-icon shape="angle right"></clr-icon>
  </button>
</div>
