<h1>Control Warning</h1>
<div>
  <button class="btn btn-primary" (click)="toggleValidation()">Validate form</button>
</div>
<button class="btn btn-primary" (click)="showWarning()">{{ showWarnings ? 'Hide' : 'Show' }} all warnings</button>
<form #form="ngForm" clrForm clrLayout="'horizontal" class="clr-row">
  <clr-radio-container class="clr-col-12">
    <label class="clr-required-mark">Radio label</label>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="1" required [(ngModel)]="radioOption" />
      <label>Option 1</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio name="options" value="2" required [(ngModel)]="radioOption" />
      <label>Option 2</label>
    </clr-radio-wrapper>
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
    <clr-control-helper>Helper text</clr-control-helper>
    <clr-control-error>This field is required!</clr-control-error>
  </clr-radio-container>

  <clr-checkbox-container class="clr-col-12">
    <label>Checkbox label</label>
    <clr-checkbox-wrapper>
      <label class="clr-col-12">Option</label>
      <input clrCheckbox required type="checkbox" [(ngModel)]="checkboxValue" name="checkboxName" />
    </clr-checkbox-wrapper>
    <clr-control-error *clrIfError="'required'">This is required</clr-control-error>
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-checkbox-container>

  <clr-date-container class="clr-col-12">
    <label>Date label</label>
    <input type="text" [(ngModel)]="date" name="date" clrDate />
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-date-container>

  <clr-toggle-container class="clr-col-12">
    <label>Toggle label</label>
    <clr-toggle-wrapper>
      <input type="checkbox" id="toggle" name="toggle" [(ngModel)]="toggleValue" clrToggle />
      <label for="toggle" class="clr-col-none"></label>
    </clr-toggle-wrapper>
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-toggle-container>

  <clr-date-time-container class="clr-col-12 clr-row">
    <clr-date-container>
      <label>Date & time label</label>
      <input clrDate type="text" [(ngModel)]="date" name="date" />
    </clr-date-container>
    <input type="time" [(ngModel)]="time" name="time" clrTime />
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-date-time-container>

  <clr-combobox-container class="clr-col-12">
    <label>Single Select Combobox</label>
    <clr-combobox [(ngModel)]="comboboxOption" name="combobox" required>
      <clr-options>
        <clr-option *clrOptionItems="let option of values$ | async" [clrValue]="option">{{ option }}</clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
    <clr-control-error>Select a value</clr-control-error>
  </clr-combobox-container>

  <clr-combobox-container class="clr-col-12">
    <label>Multi Select Combobox</label>
    <clr-combobox [(ngModel)]="comboboxOptions" name="combobox" required [clrMulti]="true">
      <ng-container *clrOptionSelected="let selected"> {{ selected }} </ng-container>
      <clr-options>
        <clr-option *clrOptionItems="let option of values2$ | async" [clrValue]="option"> {{ option }} </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>

    <clr-control-error>Select 2 values</clr-control-error>
  </clr-combobox-container>

  <!-- THESE ONES ARE PRETTY MUCH WORKING -->

  <clr-input-container class="clr-col-12">
    <label class="clr-required-mark">Input label</label>
    <input clrInput class="clr-col-2" type="text" [(ngModel)]="inputText" name="inputName" required minlength="5" />
    <clr-control-error *clrIfError="'required'">Error message about being required</clr-control-error>
    <clr-control-error *clrIfError="'minlength'">Error message about requiring 5 characters</clr-control-error>
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-input-container>

  <clr-textarea-container class="clr-col-12">
    <label class="clr-required-mark">Textarea label</label>
    <textarea clrTextarea class="clr-col-2" [(ngModel)]="textareaText" name="description" required></textarea>
    <clr-control-error *clrIfError="'required'">Error message about being required</clr-control-error>
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-textarea-container>

  <clr-password-container class="clr-col-12">
    <label>Password label</label>
    <input
      required
      clrPassword
      class="clr-col-2"
      placeholder="Password please!"
      type="text"
      [(ngModel)]="passwordText"
      name="passwordName"
    />
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-password-container>

  <clr-select-container class="clr-col-12">
    <label class="clr-required-mark">Select label</label>
    <select clrSelect class="clr-col-2" name="options" [(ngModel)]="selectedOption">
      <option value="one">One</option>
      <option value="two">Two</option>
      <option value="three">Three</option>
    </select>
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-select-container>

  <clr-input-container class="clr-col-12">
    <label>Time label</label>
    <input type="time" [(ngModel)]="time" name="time" clrInput />
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-input-container>

  <clr-input-container class="clr-col-12">
    <label>Money label</label>
    <input clrInput clrNumeric class="clr-col-2" type="text" [(clrNumericValue)]="money" clrUnit="€" />
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
  </clr-input-container>

  <clr-datalist-container class="clr-col-12">
    <label>Template Datalist</label>
    <input class="clr-col-2" minlength="4" name="Option" required clrDatalistInput [(ngModel)]="dataList" />
    <datalist>
      <option *ngFor="let item of values$ | async" [value]="item"></option>
    </datalist>
    <clr-control-helper *clrIfWarning="showWarnings">This is a warning</clr-control-helper>
    <clr-control-error>There was an error</clr-control-error>
  </clr-datalist-container>
</form>
