<ng-content select="label"></ng-content>
<div class="clr-control-container" [ngClass]="controlClasses">
  <div class="clr-input-wrapper">
    <clr-dropdown class="clr-multilingual-dropdown">
      <button type="button" class="btn btn-outline btn-sm clr-multilingual-button" clrDropdownTrigger [disabled]="disabled">{{selectedLang}}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu>
        <ng-container *ngFor="let text of texts | keyvalue">
          <button *ngIf="text.key !== selectedLang" class="clr-multilingual-dd-entry" type="button"
            clrDropdownItem (click)="selectedLang = text.key">
            <span class="label">{{text.key}}</span>{{text.value}}
          </button>
        </ng-container>
      </clr-dropdown-menu>
    </clr-dropdown>

    <input class="clr-input" type="text" [ngModel]="!!texts && !!selectedLang ? texts.get(selectedLang) : ''"
      (ngModelChange)="setText(selectedLang, $event)" (blur)="onTouch()" [disabled]="disabled"/>
    <clr-icon *ngIf="invalid" class="clr-validate-icon" shape="exclamation-circle" aria-hidden="true"></clr-icon>

    <ng-content select="clr-control-helper" *ngIf="!invalid"></ng-content>
    <ng-content select="clr-control-error" *ngIf="invalid"></ng-content>
  </div>
</div>
