.align-values-right {
  clr-select-container {
    align-items: flex-end;
  }
}
th clr-select-container {
  margin-top: 0 !important;
}

@import '../../node_modules/@cds/core/tokens/tokens';
@import '../../node_modules/@clr/ui/src/utils/mixins';
@import '../../node_modules/@clr/ui/src/utils/variables/variables';
@import '../../node_modules/@clr/ui/src/utils/variables.clarity';

$contentTopMargin: calc(2 * $cds-global-space-15);

.table-of-contents {
  position: fixed;
  top: $contentTopMargin;
  left: calc($clr_baselineRem_2_66 + $clr_baselineRem_48);
  border-left: 1px solid $cds-alias-object-border-color;
  z-index: 100000;
  .scroll-to-top {
    display: none;
    position: absolute;
    color: $cds-alias-typography-color-100;
    justify-content: center;
    align-items: center;
    width: $cds-global-space-12;
    height: $cds-global-space-12;
    bottom: $cds-global-space-9;
    right: $cds-global-space-9;
    border-width: 0;
    border-radius: $cds-alias-object-border-radius-300;
    background-color: $cds-alias-object-interaction-color;
    box-shadow: $cds-alias-object-shadow-100;
    z-index: 100000;

    cds-icon {
      width: $cds-global-space-9;
      height: $cds-global-space-9;
    }
  }
}

@media (max-width: 1440px) {
  .table-of-contents {
    position: initial;
    margin-top: $cds-global-space-10;
    .scroll-to-top {
      display: flex;
    }
  }
}

.title {
  display: inline-block;
  color: $cds-global-typography-color-400;
  font-size: $cds-alias-typography-secondary-font-size;
  font-weight: $cds-alias-typography-font-weight-semibold;
  line-height: $cds-alias-typography-secondary-line-height;
  letter-spacing: $cds-alias-typography-secondary-letter-spacing;
  padding-left: $cds-global-space-7;
  text-transform: uppercase;
}

.toc-list {
  overflow-y: auto;
  $contentHeadingHeight: $cds-global-space-9;
  margin-top: $cds-global-space-3;
  max-height: calc(100vh - $contentTopMargin - $contentHeadingHeight);

  li {
    $activeBorderWidth: $cds-alias-object-border-width-300;
    a {
      display: block;
      color: $cds-alias-object-interaction-color;
      font-weight: $cds-alias-typography-font-weight-regular;
      border-left: $activeBorderWidth solid transparent;
      padding: $cds-global-space-3 $cds-global-space-7;
      padding-left: calc($cds-global-space-7 - $activeBorderWidth);
      transition: border-left-color 200ms ease-in;
      text-decoration: none;

      &.active {
        color: $cds-alias-object-interaction-color-active;
        border-left-color: $cds-alias-object-interaction-background-highlight;
      }

      &:hover {
        color: $cds-alias-object-interaction-color-hover;
        background-color: $cds-alias-object-interaction-background-hover;
      }
    }
    ul > li > a {
      padding-left: calc($cds-global-space-11 - $activeBorderWidth);
    }
  }
}
