<h2>Getting started with Clarity Addons Icons</h2>
<p>Follow the instructions from the <a href="https://clarity.design/icons/get-started">Clarity Icons - Get Started
    Guide</a> with 1 exception: Do NOT include the <code class="clr-code">clr-icons.min.js</code> manually in your
    project. All icons are loaded via Angulars Injection Token <code class="clr-code">APP_INITIALIZER</code>.</p>
<p>Other than that, the Clarity Icons API and all Icons themselves can be used exactly as described in the
    aforementioned link.</p>
