<h2>Getting started with Clarity Addons Icons</h2>
<p>
  To include clarity icons follow the instructions from the <a href="https://clarity.design/foundation/icons/">Clarity Icons - Get Started
    Guide</a>.
</p>
<p>
  To import clarity addons icons load them via <code class="clr-code">APP_INITIALIZER</code>:

  <clr-code-snippet [clrCode]="importAddonsIcons" [clrLanguage]="'typescript'"></clr-code-snippet>
</p>
<p>
  Usage of clarity addons icons is as easy as use the <code class="clr-code">clr-icons</code> tag with the desired shape

  <clr-code-snippet [clrCode]="usageAddonsIcons" [clrLanguage]="'typescript'"></clr-code-snippet>
</p>
