@include exports('date-time-container.clr-addons') {
  .date-time-container {
    clr-date-container {
      flex: 1 1 auto;
      margin-left: 0;
      margin-right: 0;

      // Places the time input next to the date input on the same height.
      .clr-input-wrapper {
        display: flex;
      }
    }
  }
}
