// Variables
$transition-duration: 0.2s;
$transition-timing: ease-in-out;
$panel-max-height: 700px;

// Shared styles
.summary-area-container,
.summary-area-alert {
  margin: 0 24px 9px 24px;
  max-width: 100%;
  overflow-x: auto;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 320px));
  grid-template-rows: repeat(var(--rows), auto);
  grid-auto-flow: column;
  max-width: 100%;
  column-gap: 36px;
  row-gap: 6px;
  padding: 3px 0;
}

.summary-item {
  max-width: 320px;
  min-width: 0;
  height: 20px;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

// Alert styles
clr-alert-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .alert-text,
  .alert-action {
    flex: 0 0 auto;
    white-space: nowrap;
  }
}

.alert-action {
  color: var(--cds-alias-typography-link-color) !important;
  cursor: pointer;

  &:visited {
    color: var(--cds-alias-typography-link-color-visited);
  }

  &:hover,
  &:focus {
    color: var(--cds-alias-typography-link-color-hover);
  }
}

clr-alert ::ng-deep > .alert-lightweight {
  padding-left: 0;
  padding-right: 0;
}

// Panel animation styles
.summary-area-panels {
  position: relative;
  max-height: 0;
  height: 0;
  opacity: 0;
  transform: scaleY(0.95);
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  transition: max-height $transition-duration $transition-timing, opacity $transition-duration $transition-timing,
    transform $transition-duration $transition-timing, visibility 0s $transition-duration;

  &.is-active {
    max-height: $panel-max-height;
    height: auto;
    opacity: 1;
    pointer-events: auto;
    transform: unset;
    visibility: visible;
    overflow: visible;
    transition: max-height $transition-duration $transition-timing, opacity $transition-duration $transition-timing,
      transform $transition-duration $transition-timing, visibility 0s 0s;
  }
}

.summary-area-panel {
  transform-origin: top center;
  transform: scaleY(0.95);
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: max-height $transition-duration $transition-timing, opacity $transition-duration $transition-timing,
    transform $transition-duration $transition-timing;

  &__body {
    will-change: opacity, transform, max-height;
  }

  &.is-active {
    max-height: $panel-max-height;
    opacity: 1;
    pointer-events: auto;
    transform: unset;
    overflow: visible;
  }

  &--state.is-active {
    margin-bottom: 0.5rem;
  }
}

// Loading state
.summary-area-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 1rem;
  min-height: 80px;

  .loading-text {
    color: var(--cds-alias-typography-color-300);
  }
}
