:host {
  width: 100%;
  display: block;
}

::ng-deep clr-date-container .clr-control-container .clr-input-group {
  max-width: none;

  .clr-input {
    max-width: none;
  }
}

// The hover animation was overridden when putting `.clr-input` inside `.clr-input-group`.
// But, the hover animation should not be applied on the whole group (containing input + icon).
// Only on the input.
.clr-input {
  background: linear-gradient(to bottom, transparent 95%, var(--clr-forms-focused-color, hsl(198deg, 100%, 32%)) 95%)
    no-repeat;
  background-size: 0% 100%;
}
