<ng-content select="label"></ng-content>
<div class="clr-control-container" [ngClass]="controlClasses">
  <ng-content select=".header-container"></ng-content>

  <ng-container *ngFor="let item of allItems; index as i">
    <div class="controls-wrapper">
      <div class="controls-container" *ngIf="itemTemplate" #row>
        <ng-container *ngTemplateOutlet="itemTemplate.get(0); context: {$implicit:item}"></ng-container>
      </div>
      <button
        *ngIf="!(readonly || readonly === '')"
        type="button"
        class="btn btn-icon btn-link btn-trash"
        [ngClass]="{'btn-trash-ext': !(compactMode && i === allItems.length - 1)}"
        [disabled]="required && allItems.length === 1"
        (click)="removeItem(item)"
      >
        <cds-icon shape="trash"></cds-icon>
      </button>
      <button
        *ngIf="!(readonly || readonly === '') && compactMode && i === allItems.length - 1"
        type="button"
        class="btn btn-icon btn-link quick-list-addcompact"
        (click)="addItem()"
      >
        <clr-icon shape="add"></clr-icon>
      </button>
    </div>
  </ng-container>
  <button
    *ngIf="!(readonly || readonly === '') && allItems.length === 0 && compactMode"
    type="button"
    class="btn btn-icon btn-link quick-list-addcompact"
    (click)="addItem()"
  >
    <clr-icon shape="add"></clr-icon>
  </button>
  <button
    *ngIf="!(readonly || readonly === '') && !compactMode"
    type="button"
    class="btn btn-link btn-sm btn-add"
    (click)="addItem()"
    [disabled]="!addPossible"
  >
    {{addLabel}}
  </button>
</div>
