<ng-content select="label"></ng-content>
<div class="clr-control-container" [ngClass]="controlClasses">
  <ng-content select=".header-container"></ng-content>

  <ng-container *ngFor="let item of allItems">
    <div class="controls-container" *ngIf="itemTemplate" #row>
      <ng-container *ngTemplateOutlet="itemTemplate.get(0); context: {$implicit:item}"></ng-container>

      <button
        *ngIf="!(readonly || readonly === '')"
        type="button"
        class="btn btn-icon btn-link btn-trash"
        [disabled]="required && allItems.length === 1"
        (click)="removeItem(item)"
      >
        <clr-icon shape="trash"></clr-icon>
      </button>
    </div>
  </ng-container>

  <button
    *ngIf="!(readonly || readonly === '')"
    type="button"
    class="btn btn-link btn-sm btn-add"
    (click)="addItem()"
    [disabled]="!addPossible"
  >
    {{addLabel}}
  </button>
</div>
