<ng-content select="label"></ng-content>
<div class="clr-control-container" [ngClass]="controlClasses">
  <ng-content select=".header-container"></ng-content>

  @for (item of allItems; track item; let i = $index) {
  <div class="controls-wrapper">
    @if (itemTemplate) {
    <div class="controls-container" #row>
      <ng-container *ngTemplateOutlet="itemTemplate.get(0); context: {$implicit:item}"></ng-container>
    </div>
    } @if (!(readonly || readonly === '')) {
    <button
      type="button"
      class="btn btn-icon btn-link btn-trash"
      [ngClass]="{'btn-trash-ext': !(compactMode && i === allItems.length - 1)}"
      [disabled]="required && allItems.length === 1"
      (click)="removeItem(item)"
    >
      <cds-icon shape="trash"></cds-icon>
    </button>
    } @if (!(readonly || readonly === '') && compactMode && i === allItems.length - 1) {
    <button
      type="button"
      class="btn btn-icon btn-link quick-list-addcompact"
      (click)="addItem()"
      [disabled]="!addPossible"
    >
      <cds-icon shape="plus-circle"></cds-icon>
    </button>
    }
  </div>
  } @if (!(readonly || readonly === '') && allItems.length === 0 && compactMode) {
  <button
    type="button"
    class="btn btn-icon btn-link quick-list-addcompact"
    (click)="addItem()"
    [disabled]="!addPossible"
  >
    <cds-icon shape="plus-circle"></cds-icon>
  </button>
  } @if (!(readonly || readonly === '') && !compactMode) {
  <button type="button" class="btn btn-link btn-sm btn-add" (click)="addItem()" [disabled]="!addPossible">
    {{addLabel}}
  </button>
  }
</div>
