@include exports('generic-quick-list.clr-addons') {
  .generic-quick-list {
    .clr-form-control {
      margin-top: 0;
    }

    .controls-container {
      display: flex;
      margin-bottom: 0.25rem;

      > :not(.btn-trash) {
        flex: 1;
        margin-right: 0.5rem;
      }
    }

    .header-container {
      display: flex;
      max-width: calc(100% - 18px); // for correct alignment; 18px is the width of trash button in content rows

      > * {
        flex: 1;
        display: block;
        color: var(--clr-forms-label-color);
        font-size: 0.65rem;
        font-weight: var(--clr-forms-label-font-weight);
      }
    }

    .btn-add {
      padding: 0;
      text-align: left;
    }

    .btn-trash {
      padding: 0;
      margin-top: -0.25rem;
    }
  }

  form:not(.clr-form-horizontal) .generic-quick-list {
    .clr-control-container {
      width: 100%;
    }

    .header-container {
      margin: 0 -0.5rem;
      max-width: calc(100% + 2px);

      > * {
        padding-left: 0.6rem;
        margin-right: 0.5rem;
      }
    }

    .controls-container {
      margin-right: -0.5rem;
      margin-left: -0.5rem;
    }
  }
}
