<ng-content select="label"></ng-content>
@if (!this.labelComponent && this.addLayoutGrid) {
<label></label>
}
<div
  [class.clr-col-12]="this.addLayoutGrid"
  [class.clr-col-md-10]="this.addLayoutGrid"
  [class.clr-error]="this.isInvalid"
  class="clr-control-container"
>
  <div class="clr-input-wrapper">
    <div
      [class.clr-focus]="this.focus"
      class="custom-input-group clr-input-group"
      [ngClass]="_timeSelection ? 'custom-input-group-time' : 'custom-input-group-date'"
    >
      <ng-content select="[clrDaterangepicker]"></ng-content>
      <button
        [attr.aria-label]="this.friendlyDaterange"
        [disabled]="this.disabled"
        [title]="this.friendlyDaterange"
        class="clr-input-group-icon-action"
        clrPopoverOpenCloseButton
        clrPopoverOrigin
        type="button"
      >
        <cds-icon shape="calendar" status="info"></cds-icon>
      </button>
    </div>
    @if (this.isInvalid) {
    <cds-icon aria-hidden="true" class="clr-validate-icon" shape="exclamation-circle" status="danger"></cds-icon>
    } @if (!this.isInvalid) {
    <cds-icon aria-hidden="true" class="clr-validate-icon" shape="check-circle" status="success"></cds-icon>
    }
  </div>
  @if (this.showHelper) {
  <ng-content select="clr-control-helper"></ng-content>
  } @if (this.showInvalid) {
  <ng-content select="clr-control-error"></ng-content>
  } @if (this.showValid) {
  <ng-content select="clr-control-success"></ng-content>
  }

  <div
    *clrPopoverContent="this.open; at: this.popoverPosition; outsideClickToClose: true; scrollToClose: true"
    class="clr-daterangepicker-container-popup datepicker"
  >
    <button
      class="btn btn-sm btn-link close clr-smart-close-button btn-trash"
      type="button"
      (click)="daterangeService.updateSelectedDaterange(null)"
    >
      <cds-icon shape="trash"></cds-icon>
    </button>
    <button
      [attr.aria-label]="this.commonStrings.close"
      class="btn btn-sm btn-link close"
      clrPopoverCloseButton
      type="button"
    >
      <cds-icon [attr.title]="this.commonStrings.close" aria-hidden="true" shape="window-close"></cds-icon>
      <span class="clr-sr-only">{{ this.commonStrings.close }}</span>
    </button>
    <div class="clr-daterangepicker-container-popup-content">
      <form [clrLayout]="'vertical'" clrForm>
        <div class="datetime-container">
          <clr-datepicker
            (valueChange)="this.onDateFromChange($event)"
            [label]="this.labelFrom"
            [maxDate]="this.maxDate"
            [minDate]="this.minDate"
            [value]="this.dateFrom"
            class="clr-datepicker"
          >
          </clr-datepicker>
          @if (_timeSelection) {
          <clr-timepicker
            class="timepicker"
            (valueChange)="this.onTimeFromChange($event)"
            [value]="this.timeFrom"
            [activateSeconds]="_activateSeconds"
          >
          </clr-timepicker>
          }
        </div>
        <div class="datetime-container datetime-container-to">
          <clr-datepicker
            (valueChange)="this.onDateToChange($event)"
            [label]="this.labelTo"
            [maxDate]="this.maxDate"
            [minDate]="this.minDate"
            [value]="this.dateTo"
            class="clr-datepicker"
          >
          </clr-datepicker>
          @if (_timeSelection) {
          <clr-timepicker
            class="timepicker"
            (valueChange)="this.onTimeToChange($event)"
            [value]="this.timeTo"
            [activateSeconds]="_activateSeconds"
          >
          </clr-timepicker>
          }
        </div>
      </form>
      @if (this.presets?.length > 0) {
      <div class="clr-daterangepicker-container-popup-content-presets">
        @for (preset of this.presets; track preset) {
        <button (click)="this.applyPreset(preset)" class="btn btn-outline btn-sm btn-block" type="button">
          {{ preset.text }}
        </button>
        }
      </div>
      } @if (this.presetsDateTime?.length > 0) {
      <div class="clr-daterangepicker-container-popup-content-presets">
        @for (preset of this.presetsDateTime; track preset) {
        <button (click)="this.applyPresetTime(preset)" class="btn btn-outline btn-sm btn-block" type="button">
          {{ preset.text }}
        </button>
        }
      </div>
      }
    </div>
  </div>
</div>
