.clr-input-wrapper > .clr-input-group {
  max-width: fit-content;
  padding-right: 1.5rem;

  ::ng-deep > .clr-input {
    width: 100%;
    padding: 0;
  }
}

.clr-daterangepicker-container-popup {
  margin-top: 0.3rem;
  background: hsl(198deg, 0%, 100%);
  background: var(--clr-calendar-background-color, hsl(198deg, 0%, 100%));
  border: 0.05rem solid;
  border-color: hsl(198deg, 0%, 80%);
  border-color: var(--clr-calendar-border-color, hsl(198deg, 0%, 80%));
  border-radius: 0.15rem;
  border-radius: var(--clr-global-borderradius, 0.15rem);
  box-shadow: 0 0.05rem 0.15rem rgb(140 140 140 / 25%);
  box-shadow: 0 0.05rem 0.15rem var(--clr-popover-box-shadow-color, rgba(140, 140, 140, 0.25));
  overflow: hidden;
  z-index: 1050;

  .clr-smart-close-button {
    min-width: 1.2rem;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
  }

  .clr-daterangepicker-container-popup-content {
    padding: 0.6rem;
    display: flex;
    flex-direction: row;

    .clr-form ::ng-deep clr-datepicker:first-of-type ::ng-deep clr-date-container {
      margin-top: 0;
    }

    .clr-daterangepicker-container-popup-content-presets {
      margin-left: 0.6rem;
      padding: 0.3rem;

      .btn {
        margin-right: 0;
      }
    }
  }
}
