.ces-title {
  color: #000;
  font-size: 1.166667rem;
  font-weight: 200;
  line-height: 1.5rem;
  letter-spacing: normal;
  box-sizing: inherit;
  display: block;
  margin-top: 1rem;
  margin-bottom: 0;
}

.ces-subtitle {
  color: #000;
  font-size: 0.75rem;
  font-weight: 200;
  line-height: 1rem;
  letter-spacing: normal;
  box-sizing: inherit;
  display: block;
}
