:host,
.tooltip {
  display: flex;
  align-items: center;
}

.summary-item-copy-value-icon {
  cursor: pointer;
  color: var(--cds-alias-status-disabled-tint) !important;
}

.summary-item-copy-value-icon:hover {
  color: var(--cds-alias-typography-link-color) !important;
}

.attribute-was-copied-color {
  color: var(--cds-alias-status-success) !important;
}
