:host {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.clr-circle-progress-bar {
  width: 100%;
  height: 100%;
}

@keyframes clr-circle-progress-bar-in {
  from {
    stroke-dasharray: 0 9999;
  }
}

.clr-circle-progress-bar-ring {
  transform: rotate(-90deg);
  transform-origin: center;
  transform-box: fill-box;
  animation: clr-circle-progress-bar-in 0.5s ease forwards;
}
