<h2>Getting started with Clarity Addons Icons</h2>
<p>
  To include clarity icons follow the instructions from the
  <a href="https://core.clarity.design/foundation/icons/" target="_blank">Clarity Icons - Get Started Guide</a>.
</p>
<p>
  Bevor you can use an icon, you must import if in your current component.ts file
  <clr-code-snippet [clrCode]="importAddonsIcons" [clrLanguage]="'typescript'"></clr-code-snippet>
</p>
<p>
  Usage of clarity addons icons is as easy as use the <code class="clr-code">cds-icons</code> tag with the desired shape
  <clr-code-snippet [clrCode]="usageAddonsIcons" [clrLanguage]="'typescript'"></clr-code-snippet>
</p>
