<main class="content-area layout-home" style="overflow-y: hidden">
    <section class="home-hero">
        <div class="home-hero-content">
            <h1>Clarity Addons</h1>
            <p class="head">
                Welcome to Clarity Addons, which describes POI-specific clarity components
            </p>
            <div class="home-hero-btn">
                <a routerLink="documentation" class="btn btn-primary">Documentation</a>
            </div>
        </div>
        <div class="bg-img"></div>
    </section>
</main>
